@charset "UTF-8";
/*!
Theme Name: CityMunch 2018
Theme URI: http://underscores.me/
Author: Angel Angeles III
Author URI: http://zimitmedia.com
Description: The official WordPress theme of CityMunch website.
Version: 1.0.0
License: GNU General Public License v2 or later
License URI: LICENSE
Text Domain: citymunch_2018
Tags: custom-background, custom-logo, custom-menu, featured-images, threaded-comments, translation-ready

This theme, like WordPress, is licensed under the GPL.
Use it to make something cool, have fun, and share what you've learned with others.

CityMunch 2018 is based on Underscores https://underscores.me/, (C) 2012-2017 Automattic, Inc.
Underscores is distributed under the terms of the GNU GPL v2 or later.

Normalizing styles have been helped along thanks to the fine work of
Nicolas Gallagher and Jonathan Neal https://necolas.github.io/normalize.css/
*/
/*--------------------------------------------------------------
>>> TABLE OF CONTENTS:
----------------------------------------------------------------
# Normalize
# Typography
# Elements
# Forms
# Navigation
	## Links
	## Menus
# Accessibility
# Alignments
# Clearings
# Widgets
# Content
	## Posts and pages
	## Comments
# Infinite scroll
# Media
	## Captions
	## Galleries
--------------------------------------------------------------*/
/*--------------------------------------------------------------
# Normalize
--------------------------------------------------------------*/
/*! normalize.css v8.0.0 | MIT License | github.com/necolas/normalize.css */
/* Document
	 ========================================================================== */
/**
 * 1. Correct the line height in all browsers.
 * 2. Prevent adjustments of font size after orientation changes in iOS.
 */
html {
  line-height: 1.15;
  /* 1 */
  -webkit-text-size-adjust: 100%;
  /* 2 */
}

/* Sections
	 ========================================================================== */
/**
 * Remove the margin in all browsers.
 */
body {
  margin: 0;
}

/**
 * Correct the font size and margin on `h1` elements within `section` and
 * `article` contexts in Chrome, Firefox, and Safari.
 */
h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

/* Grouping content
	 ========================================================================== */
/**
 * 1. Add the correct box sizing in Firefox.
 * 2. Show the overflow in Edge and IE.
 */
hr {
  box-sizing: content-box;
  /* 1 */
  height: 0;
  /* 1 */
  overflow: visible;
  /* 2 */
}

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
pre {
  font-family: monospace, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */
}

/* Text-level semantics
	 ========================================================================== */
/**
 * Remove the gray background on active links in IE 10.
 */
a {
  background-color: transparent;
}

/**
 * 1. Remove the bottom border in Chrome 57-
 * 2. Add the correct text decoration in Chrome, Edge, IE, Opera, and Safari.
 */
abbr[title] {
  border-bottom: none;
  /* 1 */
  text-decoration: underline;
  /* 2 */
  text-decoration: underline dotted;
  /* 2 */
}

/**
 * Add the correct font weight in Chrome, Edge, and Safari.
 */
b,
strong {
  font-weight: bolder;
}

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
code,
kbd,
samp {
  font-family: monospace, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */
}

/**
 * Add the correct font size in all browsers.
 */
small {
  font-size: 80%;
}

/**
 * Prevent `sub` and `sup` elements from affecting the line height in
 * all browsers.
 */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

/* Embedded content
	 ========================================================================== */
/**
 * Remove the border on images inside links in IE 10.
 */
img {
  border-style: none;
}

/* Forms
	 ========================================================================== */
/**
 * 1. Change the font styles in all browsers.
 * 2. Remove the margin in Firefox and Safari.
 */
button,
input,
optgroup,
select,
textarea {
  font-family: inherit;
  /* 1 */
  font-size: 100%;
  /* 1 */
  line-height: 1.15;
  /* 1 */
  margin: 0;
  /* 2 */
}

/**
 * Show the overflow in IE.
 * 1. Show the overflow in Edge.
 */
button,
input {
  /* 1 */
  overflow: visible;
}

/**
 * Remove the inheritance of text transform in Edge, Firefox, and IE.
 * 1. Remove the inheritance of text transform in Firefox.
 */
button,
select {
  /* 1 */
  text-transform: none;
}

/**
 * Correct the inability to style clickable types in iOS and Safari.
 */
button,
[type="button"],
[type="reset"],
[type="submit"] {
  -webkit-appearance: button;
}

/**
 * Remove the inner border and padding in Firefox.
 */
button::-moz-focus-inner,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

/**
 * Restore the focus styles unset by the previous rule.
 */
button:-moz-focusring,
[type="button"]:-moz-focusring,
[type="reset"]:-moz-focusring,
[type="submit"]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

/**
 * Correct the padding in Firefox.
 */
fieldset {
  padding: 0.35em 0.75em 0.625em;
}

/**
 * 1. Correct the text wrapping in Edge and IE.
 * 2. Correct the color inheritance from `fieldset` elements in IE.
 * 3. Remove the padding so developers are not caught out when they zero out
 *		`fieldset` elements in all browsers.
 */
legend {
  box-sizing: border-box;
  /* 1 */
  color: inherit;
  /* 2 */
  display: table;
  /* 1 */
  max-width: 100%;
  /* 1 */
  padding: 0;
  /* 3 */
  white-space: normal;
  /* 1 */
}

/**
 * Add the correct vertical alignment in Chrome, Firefox, and Opera.
 */
progress {
  vertical-align: baseline;
}

/**
 * Remove the default vertical scrollbar in IE 10+.
 */
textarea {
  overflow: auto;
}

/**
 * 1. Add the correct box sizing in IE 10.
 * 2. Remove the padding in IE 10.
 */
[type="checkbox"],
[type="radio"] {
  box-sizing: border-box;
  /* 1 */
  padding: 0;
  /* 2 */
}

/**
 * Correct the cursor style of increment and decrement buttons in Chrome.
 */
[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
  height: auto;
}

/**
 * 1. Correct the odd appearance in Chrome and Safari.
 * 2. Correct the outline style in Safari.
 */
[type="search"] {
  -webkit-appearance: textfield;
  /* 1 */
  outline-offset: -2px;
  /* 2 */
}

/**
 * Remove the inner padding in Chrome and Safari on macOS.
 */
[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}

/**
 * 1. Correct the inability to style clickable types in iOS and Safari.
 * 2. Change font properties to `inherit` in Safari.
 */
::-webkit-file-upload-button {
  -webkit-appearance: button;
  /* 1 */
  font: inherit;
  /* 2 */
}

/* Interactive
	 ========================================================================== */
/*
 * Add the correct display in Edge, IE 10+, and Firefox.
 */
details {
  display: block;
}

/*
 * Add the correct display in all browsers.
 */
summary {
  display: list-item;
}

/* Misc
	 ========================================================================== */
/**
 * Add the correct display in IE 10+.
 */
template {
  display: none;
}

/**
 * Add the correct display in IE 10.
 */
[hidden] {
  display: none;
}

* {
  box-sizing: border-box;
}

/*--------------------------------------------------------------
# Foundation 6
--------------------------------------------------------------*/
/* __uses settings */
/**
 * Foundation for Sites by ZURB
 * Version 6.5.0-rc.2
 * foundation.zurb.com
 * Licensed under MIT Open Source
 */
@font-face {
  font-family: 'Varela Round';
  src: url("fonts/VarelaRound-Regular.ttf");
}
.screen-reader-text {
  border: 0;
  clip: rect(1px, 1px, 1px, 1px);
  clip-path: inset(50%);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute !important;
  width: 1px;
  word-wrap: normal !important;
}

body {
  font-family: "Varela Round", Helvetica, Roboto, Arial, sans-serif;
  color: gray;
}

div,
dl,
dt,
dd,
ul,
ol,
li,
h1,
h2,
h3,
h4,
h5,
h6,
pre,
form,
p,
blockquote,
th,
td {
  margin: 0;
  padding: 0;
}

p {
  margin-bottom: 1rem;
  font-size: inherit;
  line-height: 1.6;
  text-rendering: optimizeLegibility;
}

em,
i {
  font-style: italic;
  line-height: inherit;
}

strong,
b {
  font-weight: bold;
  line-height: inherit;
}

small {
  font-size: 80%;
  line-height: inherit;
}

h1, .h1,
h2, .h2,
h3, .h3,
h4, .h4,
h5, .h5,
h6, .h6 {
  font-family: "Varela Round", Helvetica, Roboto, Arial, sans-serif;
  font-style: normal;
  font-weight: normal;
  color: inherit;
  text-rendering: optimizeLegibility;
}
h1 small, .h1 small,
h2 small, .h2 small,
h3 small, .h3 small,
h4 small, .h4 small,
h5 small, .h5 small,
h6 small, .h6 small {
  line-height: 0;
  color: #cacaca;
}

h1, .h1 {
  font-size: 1.5rem;
  line-height: 1.4;
  margin-top: 0;
  margin-bottom: 0.5rem;
}

h2, .h2 {
  font-size: 1.25rem;
  line-height: 1.4;
  margin-top: 0;
  margin-bottom: 0.5rem;
}

h3, .h3 {
  font-size: 1.1875rem;
  line-height: 1.4;
  margin-top: 0;
  margin-bottom: 0.5rem;
}

h4, .h4 {
  font-size: 1.125rem;
  line-height: 1.4;
  margin-top: 0;
  margin-bottom: 0.5rem;
}

h5, .h5 {
  font-size: 1.0625rem;
  line-height: 1.4;
  margin-top: 0;
  margin-bottom: 0.5rem;
}

h6, .h6 {
  font-size: 1rem;
  line-height: 1.4;
  margin-top: 0;
  margin-bottom: 0.5rem;
}

@media print, screen and (min-width: 40em) {
  h1, .h1 {
    font-size: 3rem;
  }

  h2, .h2 {
    font-size: 2.5rem;
  }

  h3, .h3 {
    font-size: 1.9375rem;
  }

  h4, .h4 {
    font-size: 1.5625rem;
  }

  h5, .h5 {
    font-size: 1.25rem;
  }

  h6, .h6 {
    font-size: 1rem;
  }
}
a {
  line-height: inherit;
  color: blue;
  text-decoration: none;
  cursor: pointer;
}
a:hover, a:focus {
  color: #0000db;
}
a img {
  border: 0;
}

hr {
  clear: both;
  max-width: 75rem;
  height: 0;
  margin: 1.25rem auto;
  border-top: 0;
  border-right: 0;
  border-bottom: 1px solid #cacaca;
  border-left: 0;
}

ul,
ol,
dl {
  margin-bottom: 1rem;
  list-style-position: outside;
  line-height: 1.6;
}

li {
  font-size: inherit;
}

ul {
  margin-left: 1.25rem;
  list-style-type: disc;
}

ol {
  margin-left: 1.25rem;
}

ul ul, ol ul, ul ol, ol ol {
  margin-left: 1.25rem;
  margin-bottom: 0;
}

dl {
  margin-bottom: 1rem;
}
dl dt {
  margin-bottom: 0.3rem;
  font-weight: bold;
}

blockquote {
  margin: 0 0 1rem;
  padding: 0.5625rem 1.25rem 0 1.1875rem;
  border-left: 1px solid #cacaca;
}
blockquote, blockquote p {
  line-height: 1.6;
  color: #8a8a8a;
}

cite {
  display: block;
  font-size: 0.8125rem;
  color: #8a8a8a;
}
cite:before {
  content: "— ";
}

abbr, abbr[title] {
  border-bottom: 1px dotted #0a0a0a;
  cursor: help;
  text-decoration: none;
}

figure {
  margin: 0;
}

code {
  padding: 0.125rem 0.3125rem 0.0625rem;
  border: 1px solid #cacaca;
  background-color: #e6e6e6;
  font-family: Consolas, "Liberation Mono", Courier, monospace;
  font-weight: normal;
  color: #0a0a0a;
}

kbd {
  margin: 0;
  padding: 0.125rem 0.25rem 0;
  background-color: #e6e6e6;
  font-family: Consolas, "Liberation Mono", Courier, monospace;
  color: #0a0a0a;
}

.subheader {
  margin-top: 0.2rem;
  margin-bottom: 0.5rem;
  font-weight: normal;
  line-height: 1.4;
  color: #8a8a8a;
}

.lead {
  font-size: 125%;
  line-height: 1.6;
}

.stat {
  font-size: 2.5rem;
  line-height: 1;
}
p + .stat {
  margin-top: -1rem;
}

ul.no-bullet, ol.no-bullet {
  margin-left: 0;
  list-style: none;
}

.text-left {
  text-align: left;
}

.text-right {
  text-align: right;
}

.text-center {
  text-align: center;
}

.text-justify {
  text-align: justify;
}

@media print, screen and (min-width: 40em) {
  .medium-text-left {
    text-align: left;
  }

  .medium-text-right {
    text-align: right;
  }

  .medium-text-center {
    text-align: center;
  }

  .medium-text-justify {
    text-align: justify;
  }
}
@media print, screen and (min-width: 64em) {
  .large-text-left {
    text-align: left;
  }

  .large-text-right {
    text-align: right;
  }

  .large-text-center {
    text-align: center;
  }

  .large-text-justify {
    text-align: justify;
  }
}
.show-for-print {
  display: none !important;
}

@media print {
  * {
    background: transparent !important;
    box-shadow: none !important;
    color: black !important;
    text-shadow: none !important;
  }

  .show-for-print {
    display: block !important;
  }

  .hide-for-print {
    display: none !important;
  }

  table.show-for-print {
    display: table !important;
  }

  thead.show-for-print {
    display: table-header-group !important;
  }

  tbody.show-for-print {
    display: table-row-group !important;
  }

  tr.show-for-print {
    display: table-row !important;
  }

  td.show-for-print {
    display: table-cell !important;
  }

  th.show-for-print {
    display: table-cell !important;
  }

  a,
  a:visited {
    text-decoration: underline;
  }

  a[href]:after {
    content: " (" attr(href) ")";
  }

  .ir a:after,
  a[href^='javascript:']:after,
  a[href^='#']:after {
    content: '';
  }

  abbr[title]:after {
    content: " (" attr(title) ")";
  }

  pre,
  blockquote {
    border: 1px solid #8a8a8a;
    page-break-inside: avoid;
  }

  thead {
    display: table-header-group;
  }

  tr,
  img {
    page-break-inside: avoid;
  }

  img {
    max-width: 100% !important;
  }

  @page {
    margin: 0.5cm;
  }
  p,
  h2,
  h3 {
    orphans: 3;
    widows: 3;
  }

  h2,
  h3 {
    page-break-after: avoid;
  }

  .print-break-inside {
    page-break-inside: auto;
  }
}
[type='text'], [type='password'], [type='date'], [type='datetime'], [type='datetime-local'], [type='month'], [type='week'], [type='email'], [type='number'], [type='search'], [type='tel'], [type='time'], [type='url'], [type='color'],
textarea {
  display: block;
  box-sizing: border-box;
  width: 100%;
  height: 2.4375rem;
  margin: 0 0 1rem;
  padding: 0.5rem;
  border: 1px solid #cacaca;
  border-radius: 0;
  background-color: #fefefe;
  box-shadow: inset 0 1px 2px rgba(10, 10, 10, 0.1);
  font-family: inherit;
  font-size: 1rem;
  font-weight: normal;
  line-height: 1.5;
  color: #0a0a0a;
  transition: box-shadow 0.5s, border-color 0.25s ease-in-out;
  appearance: none;
}
[type='text']:focus, [type='password']:focus, [type='date']:focus, [type='datetime']:focus, [type='datetime-local']:focus, [type='month']:focus, [type='week']:focus, [type='email']:focus, [type='number']:focus, [type='search']:focus, [type='tel']:focus, [type='time']:focus, [type='url']:focus, [type='color']:focus,
textarea:focus {
  outline: none;
  border: 1px solid #8a8a8a;
  background-color: #fefefe;
  box-shadow: 0 0 5px #cacaca;
  transition: box-shadow 0.5s, border-color 0.25s ease-in-out;
}

textarea {
  max-width: 100%;
}
textarea[rows] {
  height: auto;
}

input:disabled, input[readonly],
textarea:disabled,
textarea[readonly] {
  background-color: #e6e6e6;
  cursor: not-allowed;
}

[type='submit'],
[type='button'] {
  appearance: none;
  border-radius: 0;
}

input[type='search'] {
  box-sizing: border-box;
}

::placeholder {
  color: #cacaca;
}

[type='file'],
[type='checkbox'],
[type='radio'] {
  margin: 0 0 1rem;
}

[type='checkbox'] + label,
[type='radio'] + label {
  display: inline-block;
  vertical-align: baseline;
  margin-left: 0.5rem;
  margin-right: 1rem;
  margin-bottom: 0;
}
[type='checkbox'] + label[for],
[type='radio'] + label[for] {
  cursor: pointer;
}

label > [type='checkbox'],
label > [type='radio'] {
  margin-right: 0.5rem;
}

[type='file'] {
  width: 100%;
}

label {
  display: block;
  margin: 0;
  font-size: 0.875rem;
  font-weight: normal;
  line-height: 1.8;
  color: #0a0a0a;
}
label.middle {
  margin: 0 0 1rem;
  padding: 0.5625rem 0;
}

.help-text {
  margin-top: -0.5rem;
  font-size: 0.8125rem;
  font-style: italic;
  color: #0a0a0a;
}

.input-group {
  display: flex;
  width: 100%;
  margin-bottom: 1rem;
  align-items: stretch;
}
.input-group > :first-child, .input-group > :first-child.input-group-button > * {
  border-radius: 0 0 0 0;
}
.input-group > :last-child, .input-group > :last-child.input-group-button > * {
  border-radius: 0 0 0 0;
}

.input-group-label, .input-group-field, .input-group-button, .input-group-button a,
.input-group-button input,
.input-group-button button,
.input-group-button label {
  margin: 0;
  white-space: nowrap;
}

.input-group-label {
  padding: 0 1rem;
  border: 1px solid #cacaca;
  background: #e6e6e6;
  color: #0a0a0a;
  text-align: center;
  white-space: nowrap;
  display: flex;
  flex: 0 0 auto;
  align-items: center;
}
.input-group-label:first-child {
  border-right: 0;
}
.input-group-label:last-child {
  border-left: 0;
}

.input-group-field {
  border-radius: 0;
  flex: 1 1 0px;
  min-width: 0;
}

.input-group-button {
  padding-top: 0;
  padding-bottom: 0;
  text-align: center;
  display: flex;
  flex: 0 0 auto;
}
.input-group-button a,
.input-group-button input,
.input-group-button button,
.input-group-button label {
  align-self: stretch;
  height: auto;
  padding-top: 0;
  padding-bottom: 0;
  font-size: 1rem;
}

fieldset {
  margin: 0;
  padding: 0;
  border: 0;
}

legend {
  max-width: 100%;
  margin-bottom: 0.5rem;
}

.fieldset {
  margin: 1.125rem 0;
  padding: 1.25rem;
  border: 1px solid #cacaca;
}
.fieldset legend {
  margin: 0;
  margin-left: -0.1875rem;
  padding: 0 0.1875rem;
}

select {
  height: 2.4375rem;
  margin: 0 0 1rem;
  padding: 0.5rem;
  appearance: none;
  border: 1px solid #cacaca;
  border-radius: 0;
  background-color: #fefefe;
  font-family: inherit;
  font-size: 1rem;
  font-weight: normal;
  line-height: 1.5;
  color: #0a0a0a;
  background-image: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' version='1.1' width='32' height='24' viewBox='0 0 32 24'><polygon points='0,0 32,0 16,24' style='fill: rgb%28138, 138, 138%29'></polygon></svg>");
  background-origin: content-box;
  background-position: right -1rem center;
  background-repeat: no-repeat;
  background-size: 9px 6px;
  padding-right: 1.5rem;
  transition: box-shadow 0.5s, border-color 0.25s ease-in-out;
}
@media screen and (min-width: 0\0) {
  select {
    background-image: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACAAAAAYCAYAAACbU/80AAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAAIpJREFUeNrEkckNgDAMBBfRkEt0ObRBBdsGXUDgmQfK4XhH2m8czQAAy27R3tsw4Qfe2x8uOO6oYLb6GlOor3GF+swURAOmUJ+RwtEJs9WvTGEYxBXqI1MQAZhCfUQKRzDMVj+TwrAIV6jvSUEkYAr1LSkcyTBb/V+KYfX7xAeusq3sLDtGH3kEGACPWIflNZfhRQAAAABJRU5ErkJggg==");
  }
}
select:focus {
  outline: none;
  border: 1px solid #8a8a8a;
  background-color: #fefefe;
  box-shadow: 0 0 5px #cacaca;
  transition: box-shadow 0.5s, border-color 0.25s ease-in-out;
}
select:disabled {
  background-color: #e6e6e6;
  cursor: not-allowed;
}
select::-ms-expand {
  display: none;
}
select[multiple] {
  height: auto;
  background-image: none;
}

.is-invalid-input:not(:focus) {
  border-color: #cc4b37;
  background-color: #f9ecea;
}
.is-invalid-input:not(:focus)::placeholder {
  color: #cc4b37;
}

.is-invalid-label {
  color: #cc4b37;
}

.form-error {
  display: none;
  margin-top: -0.5rem;
  margin-bottom: 1rem;
  font-size: 0.75rem;
  font-weight: bold;
  color: #cc4b37;
}
.form-error.is-visible {
  display: block;
}

.grid-container {
  padding-right: 0.625rem;
  padding-left: 0.625rem;
  max-width: 75rem;
  margin: 0 auto;
}
@media print, screen and (min-width: 40em) {
  .grid-container {
    padding-right: 0.9375rem;
    padding-left: 0.9375rem;
  }
}
.grid-container.fluid {
  padding-right: 0.625rem;
  padding-left: 0.625rem;
  max-width: 100%;
  margin: 0 auto;
}
@media print, screen and (min-width: 40em) {
  .grid-container.fluid {
    padding-right: 0.9375rem;
    padding-left: 0.9375rem;
  }
}
.grid-container.full {
  padding-right: 0;
  padding-left: 0;
  max-width: 100%;
  margin: 0 auto;
}

.grid-x {
  display: flex;
  flex-flow: row wrap;
}

.cell {
  flex: 0 0 auto;
  min-height: 0px;
  min-width: 0px;
  width: 100%;
}
.cell.auto {
  flex: 1 1 0px;
}
.cell.shrink {
  flex: 0 0 auto;
}

.grid-x > .auto {
  width: auto;
}
.grid-x > .shrink {
  width: auto;
}

.grid-x > .small-shrink, .grid-x > .small-full, .grid-x > .small-1, .grid-x > .small-2, .grid-x > .small-3, .grid-x > .small-4, .grid-x > .small-5, .grid-x > .small-6, .grid-x > .small-7, .grid-x > .small-8, .grid-x > .small-9, .grid-x > .small-10, .grid-x > .small-11, .grid-x > .small-12 {
  flex-basis: auto;
}

@media print, screen and (min-width: 40em) {
  .grid-x > .medium-shrink, .grid-x > .medium-full, .grid-x > .medium-1, .grid-x > .medium-2, .grid-x > .medium-3, .grid-x > .medium-4, .grid-x > .medium-5, .grid-x > .medium-6, .grid-x > .medium-7, .grid-x > .medium-8, .grid-x > .medium-9, .grid-x > .medium-10, .grid-x > .medium-11, .grid-x > .medium-12 {
    flex-basis: auto;
  }
}
@media print, screen and (min-width: 64em) {
  .grid-x > .large-shrink, .grid-x > .large-full, .grid-x > .large-1, .grid-x > .large-2, .grid-x > .large-3, .grid-x > .large-4, .grid-x > .large-5, .grid-x > .large-6, .grid-x > .large-7, .grid-x > .large-8, .grid-x > .large-9, .grid-x > .large-10, .grid-x > .large-11, .grid-x > .large-12 {
    flex-basis: auto;
  }
}
.grid-x > .small-1 {
  flex: 0 0 auto;
  width: 8.33333%;
}

.grid-x > .small-2 {
  flex: 0 0 auto;
  width: 16.66667%;
}

.grid-x > .small-3 {
  flex: 0 0 auto;
  width: 25%;
}

.grid-x > .small-4 {
  flex: 0 0 auto;
  width: 33.33333%;
}

.grid-x > .small-5 {
  flex: 0 0 auto;
  width: 41.66667%;
}

.grid-x > .small-6 {
  flex: 0 0 auto;
  width: 50%;
}

.grid-x > .small-7 {
  flex: 0 0 auto;
  width: 58.33333%;
}

.grid-x > .small-8 {
  flex: 0 0 auto;
  width: 66.66667%;
}

.grid-x > .small-9 {
  flex: 0 0 auto;
  width: 75%;
}

.grid-x > .small-10 {
  flex: 0 0 auto;
  width: 83.33333%;
}

.grid-x > .small-11 {
  flex: 0 0 auto;
  width: 91.66667%;
}

.grid-x > .small-12 {
  flex: 0 0 auto;
  width: 100%;
}

@media print, screen and (min-width: 40em) {
  .grid-x > .medium-auto {
    flex: 1 1 0px;
    width: auto;
  }

  .grid-x > .medium-shrink {
    flex: 0 0 auto;
    width: auto;
  }

  .grid-x > .medium-1 {
    flex: 0 0 auto;
    width: 8.33333%;
  }

  .grid-x > .medium-2 {
    flex: 0 0 auto;
    width: 16.66667%;
  }

  .grid-x > .medium-3 {
    flex: 0 0 auto;
    width: 25%;
  }

  .grid-x > .medium-4 {
    flex: 0 0 auto;
    width: 33.33333%;
  }

  .grid-x > .medium-5 {
    flex: 0 0 auto;
    width: 41.66667%;
  }

  .grid-x > .medium-6 {
    flex: 0 0 auto;
    width: 50%;
  }

  .grid-x > .medium-7 {
    flex: 0 0 auto;
    width: 58.33333%;
  }

  .grid-x > .medium-8 {
    flex: 0 0 auto;
    width: 66.66667%;
  }

  .grid-x > .medium-9 {
    flex: 0 0 auto;
    width: 75%;
  }

  .grid-x > .medium-10 {
    flex: 0 0 auto;
    width: 83.33333%;
  }

  .grid-x > .medium-11 {
    flex: 0 0 auto;
    width: 91.66667%;
  }

  .grid-x > .medium-12 {
    flex: 0 0 auto;
    width: 100%;
  }
}
@media print, screen and (min-width: 64em) {
  .grid-x > .large-auto {
    flex: 1 1 0px;
    width: auto;
  }

  .grid-x > .large-shrink {
    flex: 0 0 auto;
    width: auto;
  }

  .grid-x > .large-1 {
    flex: 0 0 auto;
    width: 8.33333%;
  }

  .grid-x > .large-2 {
    flex: 0 0 auto;
    width: 16.66667%;
  }

  .grid-x > .large-3 {
    flex: 0 0 auto;
    width: 25%;
  }

  .grid-x > .large-4 {
    flex: 0 0 auto;
    width: 33.33333%;
  }

  .grid-x > .large-5 {
    flex: 0 0 auto;
    width: 41.66667%;
  }

  .grid-x > .large-6 {
    flex: 0 0 auto;
    width: 50%;
  }

  .grid-x > .large-7 {
    flex: 0 0 auto;
    width: 58.33333%;
  }

  .grid-x > .large-8 {
    flex: 0 0 auto;
    width: 66.66667%;
  }

  .grid-x > .large-9 {
    flex: 0 0 auto;
    width: 75%;
  }

  .grid-x > .large-10 {
    flex: 0 0 auto;
    width: 83.33333%;
  }

  .grid-x > .large-11 {
    flex: 0 0 auto;
    width: 91.66667%;
  }

  .grid-x > .large-12 {
    flex: 0 0 auto;
    width: 100%;
  }
}
.grid-margin-x:not(.grid-x) > .cell {
  width: auto;
}

.grid-margin-y:not(.grid-y) > .cell {
  height: auto;
}

.grid-margin-x {
  margin-left: -0.625rem;
  margin-right: -0.625rem;
}
@media print, screen and (min-width: 40em) {
  .grid-margin-x {
    margin-left: -0.9375rem;
    margin-right: -0.9375rem;
  }
}
.grid-margin-x > .cell {
  width: calc(100% - 1.25rem);
  margin-left: 0.625rem;
  margin-right: 0.625rem;
}
@media print, screen and (min-width: 40em) {
  .grid-margin-x > .cell {
    width: calc(100% - 1.875rem);
    margin-left: 0.9375rem;
    margin-right: 0.9375rem;
  }
}
.grid-margin-x > .auto {
  width: auto;
}
.grid-margin-x > .shrink {
  width: auto;
}
.grid-margin-x > .small-1 {
  width: calc(8.33333% - 1.25rem);
}
.grid-margin-x > .small-2 {
  width: calc(16.66667% - 1.25rem);
}
.grid-margin-x > .small-3 {
  width: calc(25% - 1.25rem);
}
.grid-margin-x > .small-4 {
  width: calc(33.33333% - 1.25rem);
}
.grid-margin-x > .small-5 {
  width: calc(41.66667% - 1.25rem);
}
.grid-margin-x > .small-6 {
  width: calc(50% - 1.25rem);
}
.grid-margin-x > .small-7 {
  width: calc(58.33333% - 1.25rem);
}
.grid-margin-x > .small-8 {
  width: calc(66.66667% - 1.25rem);
}
.grid-margin-x > .small-9 {
  width: calc(75% - 1.25rem);
}
.grid-margin-x > .small-10 {
  width: calc(83.33333% - 1.25rem);
}
.grid-margin-x > .small-11 {
  width: calc(91.66667% - 1.25rem);
}
.grid-margin-x > .small-12 {
  width: calc(100% - 1.25rem);
}
@media print, screen and (min-width: 40em) {
  .grid-margin-x > .auto {
    width: auto;
  }
  .grid-margin-x > .shrink {
    width: auto;
  }
  .grid-margin-x > .small-1 {
    width: calc(8.33333% - 1.875rem);
  }
  .grid-margin-x > .small-2 {
    width: calc(16.66667% - 1.875rem);
  }
  .grid-margin-x > .small-3 {
    width: calc(25% - 1.875rem);
  }
  .grid-margin-x > .small-4 {
    width: calc(33.33333% - 1.875rem);
  }
  .grid-margin-x > .small-5 {
    width: calc(41.66667% - 1.875rem);
  }
  .grid-margin-x > .small-6 {
    width: calc(50% - 1.875rem);
  }
  .grid-margin-x > .small-7 {
    width: calc(58.33333% - 1.875rem);
  }
  .grid-margin-x > .small-8 {
    width: calc(66.66667% - 1.875rem);
  }
  .grid-margin-x > .small-9 {
    width: calc(75% - 1.875rem);
  }
  .grid-margin-x > .small-10 {
    width: calc(83.33333% - 1.875rem);
  }
  .grid-margin-x > .small-11 {
    width: calc(91.66667% - 1.875rem);
  }
  .grid-margin-x > .small-12 {
    width: calc(100% - 1.875rem);
  }
  .grid-margin-x > .medium-auto {
    width: auto;
  }
  .grid-margin-x > .medium-shrink {
    width: auto;
  }
  .grid-margin-x > .medium-1 {
    width: calc(8.33333% - 1.875rem);
  }
  .grid-margin-x > .medium-2 {
    width: calc(16.66667% - 1.875rem);
  }
  .grid-margin-x > .medium-3 {
    width: calc(25% - 1.875rem);
  }
  .grid-margin-x > .medium-4 {
    width: calc(33.33333% - 1.875rem);
  }
  .grid-margin-x > .medium-5 {
    width: calc(41.66667% - 1.875rem);
  }
  .grid-margin-x > .medium-6 {
    width: calc(50% - 1.875rem);
  }
  .grid-margin-x > .medium-7 {
    width: calc(58.33333% - 1.875rem);
  }
  .grid-margin-x > .medium-8 {
    width: calc(66.66667% - 1.875rem);
  }
  .grid-margin-x > .medium-9 {
    width: calc(75% - 1.875rem);
  }
  .grid-margin-x > .medium-10 {
    width: calc(83.33333% - 1.875rem);
  }
  .grid-margin-x > .medium-11 {
    width: calc(91.66667% - 1.875rem);
  }
  .grid-margin-x > .medium-12 {
    width: calc(100% - 1.875rem);
  }
}
@media print, screen and (min-width: 64em) {
  .grid-margin-x > .large-auto {
    width: auto;
  }
  .grid-margin-x > .large-shrink {
    width: auto;
  }
  .grid-margin-x > .large-1 {
    width: calc(8.33333% - 1.875rem);
  }
  .grid-margin-x > .large-2 {
    width: calc(16.66667% - 1.875rem);
  }
  .grid-margin-x > .large-3 {
    width: calc(25% - 1.875rem);
  }
  .grid-margin-x > .large-4 {
    width: calc(33.33333% - 1.875rem);
  }
  .grid-margin-x > .large-5 {
    width: calc(41.66667% - 1.875rem);
  }
  .grid-margin-x > .large-6 {
    width: calc(50% - 1.875rem);
  }
  .grid-margin-x > .large-7 {
    width: calc(58.33333% - 1.875rem);
  }
  .grid-margin-x > .large-8 {
    width: calc(66.66667% - 1.875rem);
  }
  .grid-margin-x > .large-9 {
    width: calc(75% - 1.875rem);
  }
  .grid-margin-x > .large-10 {
    width: calc(83.33333% - 1.875rem);
  }
  .grid-margin-x > .large-11 {
    width: calc(91.66667% - 1.875rem);
  }
  .grid-margin-x > .large-12 {
    width: calc(100% - 1.875rem);
  }
}

.grid-padding-x .grid-padding-x {
  margin-right: -0.625rem;
  margin-left: -0.625rem;
}
@media print, screen and (min-width: 40em) {
  .grid-padding-x .grid-padding-x {
    margin-right: -0.9375rem;
    margin-left: -0.9375rem;
  }
}
.grid-container:not(.full) > .grid-padding-x {
  margin-right: -0.625rem;
  margin-left: -0.625rem;
}
@media print, screen and (min-width: 40em) {
  .grid-container:not(.full) > .grid-padding-x {
    margin-right: -0.9375rem;
    margin-left: -0.9375rem;
  }
}
.grid-padding-x > .cell {
  padding-right: 0.625rem;
  padding-left: 0.625rem;
}
@media print, screen and (min-width: 40em) {
  .grid-padding-x > .cell {
    padding-right: 0.9375rem;
    padding-left: 0.9375rem;
  }
}

.small-up-1 > .cell {
  width: 100%;
}

.small-up-2 > .cell {
  width: 50%;
}

.small-up-3 > .cell {
  width: 33.33333%;
}

.small-up-4 > .cell {
  width: 25%;
}

.small-up-5 > .cell {
  width: 20%;
}

.small-up-6 > .cell {
  width: 16.66667%;
}

.small-up-7 > .cell {
  width: 14.28571%;
}

.small-up-8 > .cell {
  width: 12.5%;
}

@media print, screen and (min-width: 40em) {
  .medium-up-1 > .cell {
    width: 100%;
  }

  .medium-up-2 > .cell {
    width: 50%;
  }

  .medium-up-3 > .cell {
    width: 33.33333%;
  }

  .medium-up-4 > .cell {
    width: 25%;
  }

  .medium-up-5 > .cell {
    width: 20%;
  }

  .medium-up-6 > .cell {
    width: 16.66667%;
  }

  .medium-up-7 > .cell {
    width: 14.28571%;
  }

  .medium-up-8 > .cell {
    width: 12.5%;
  }
}
@media print, screen and (min-width: 64em) {
  .large-up-1 > .cell {
    width: 100%;
  }

  .large-up-2 > .cell {
    width: 50%;
  }

  .large-up-3 > .cell {
    width: 33.33333%;
  }

  .large-up-4 > .cell {
    width: 25%;
  }

  .large-up-5 > .cell {
    width: 20%;
  }

  .large-up-6 > .cell {
    width: 16.66667%;
  }

  .large-up-7 > .cell {
    width: 14.28571%;
  }

  .large-up-8 > .cell {
    width: 12.5%;
  }
}
.grid-margin-x.small-up-1 > .cell {
  width: calc(100% - 1.25rem);
}

.grid-margin-x.small-up-2 > .cell {
  width: calc(50% - 1.25rem);
}

.grid-margin-x.small-up-3 > .cell {
  width: calc(33.33333% - 1.25rem);
}

.grid-margin-x.small-up-4 > .cell {
  width: calc(25% - 1.25rem);
}

.grid-margin-x.small-up-5 > .cell {
  width: calc(20% - 1.25rem);
}

.grid-margin-x.small-up-6 > .cell {
  width: calc(16.66667% - 1.25rem);
}

.grid-margin-x.small-up-7 > .cell {
  width: calc(14.28571% - 1.25rem);
}

.grid-margin-x.small-up-8 > .cell {
  width: calc(12.5% - 1.25rem);
}

@media print, screen and (min-width: 40em) {
  .grid-margin-x.small-up-1 > .cell {
    width: calc(100% - 1.875rem);
  }

  .grid-margin-x.small-up-2 > .cell {
    width: calc(50% - 1.875rem);
  }

  .grid-margin-x.small-up-3 > .cell {
    width: calc(33.33333% - 1.875rem);
  }

  .grid-margin-x.small-up-4 > .cell {
    width: calc(25% - 1.875rem);
  }

  .grid-margin-x.small-up-5 > .cell {
    width: calc(20% - 1.875rem);
  }

  .grid-margin-x.small-up-6 > .cell {
    width: calc(16.66667% - 1.875rem);
  }

  .grid-margin-x.small-up-7 > .cell {
    width: calc(14.28571% - 1.875rem);
  }

  .grid-margin-x.small-up-8 > .cell {
    width: calc(12.5% - 1.875rem);
  }

  .grid-margin-x.medium-up-1 > .cell {
    width: calc(100% - 1.875rem);
  }

  .grid-margin-x.medium-up-2 > .cell {
    width: calc(50% - 1.875rem);
  }

  .grid-margin-x.medium-up-3 > .cell {
    width: calc(33.33333% - 1.875rem);
  }

  .grid-margin-x.medium-up-4 > .cell {
    width: calc(25% - 1.875rem);
  }

  .grid-margin-x.medium-up-5 > .cell {
    width: calc(20% - 1.875rem);
  }

  .grid-margin-x.medium-up-6 > .cell {
    width: calc(16.66667% - 1.875rem);
  }

  .grid-margin-x.medium-up-7 > .cell {
    width: calc(14.28571% - 1.875rem);
  }

  .grid-margin-x.medium-up-8 > .cell {
    width: calc(12.5% - 1.875rem);
  }
}
@media print, screen and (min-width: 64em) {
  .grid-margin-x.large-up-1 > .cell {
    width: calc(100% - 1.875rem);
  }

  .grid-margin-x.large-up-2 > .cell {
    width: calc(50% - 1.875rem);
  }

  .grid-margin-x.large-up-3 > .cell {
    width: calc(33.33333% - 1.875rem);
  }

  .grid-margin-x.large-up-4 > .cell {
    width: calc(25% - 1.875rem);
  }

  .grid-margin-x.large-up-5 > .cell {
    width: calc(20% - 1.875rem);
  }

  .grid-margin-x.large-up-6 > .cell {
    width: calc(16.66667% - 1.875rem);
  }

  .grid-margin-x.large-up-7 > .cell {
    width: calc(14.28571% - 1.875rem);
  }

  .grid-margin-x.large-up-8 > .cell {
    width: calc(12.5% - 1.875rem);
  }
}
.small-margin-collapse {
  margin-right: 0;
  margin-left: 0;
}
.small-margin-collapse > .cell {
  margin-right: 0;
  margin-left: 0;
}
.small-margin-collapse > .small-1 {
  width: 8.33333%;
}
.small-margin-collapse > .small-2 {
  width: 16.66667%;
}
.small-margin-collapse > .small-3 {
  width: 25%;
}
.small-margin-collapse > .small-4 {
  width: 33.33333%;
}
.small-margin-collapse > .small-5 {
  width: 41.66667%;
}
.small-margin-collapse > .small-6 {
  width: 50%;
}
.small-margin-collapse > .small-7 {
  width: 58.33333%;
}
.small-margin-collapse > .small-8 {
  width: 66.66667%;
}
.small-margin-collapse > .small-9 {
  width: 75%;
}
.small-margin-collapse > .small-10 {
  width: 83.33333%;
}
.small-margin-collapse > .small-11 {
  width: 91.66667%;
}
.small-margin-collapse > .small-12 {
  width: 100%;
}
@media print, screen and (min-width: 40em) {
  .small-margin-collapse > .medium-1 {
    width: 8.33333%;
  }
  .small-margin-collapse > .medium-2 {
    width: 16.66667%;
  }
  .small-margin-collapse > .medium-3 {
    width: 25%;
  }
  .small-margin-collapse > .medium-4 {
    width: 33.33333%;
  }
  .small-margin-collapse > .medium-5 {
    width: 41.66667%;
  }
  .small-margin-collapse > .medium-6 {
    width: 50%;
  }
  .small-margin-collapse > .medium-7 {
    width: 58.33333%;
  }
  .small-margin-collapse > .medium-8 {
    width: 66.66667%;
  }
  .small-margin-collapse > .medium-9 {
    width: 75%;
  }
  .small-margin-collapse > .medium-10 {
    width: 83.33333%;
  }
  .small-margin-collapse > .medium-11 {
    width: 91.66667%;
  }
  .small-margin-collapse > .medium-12 {
    width: 100%;
  }
}
@media print, screen and (min-width: 64em) {
  .small-margin-collapse > .large-1 {
    width: 8.33333%;
  }
  .small-margin-collapse > .large-2 {
    width: 16.66667%;
  }
  .small-margin-collapse > .large-3 {
    width: 25%;
  }
  .small-margin-collapse > .large-4 {
    width: 33.33333%;
  }
  .small-margin-collapse > .large-5 {
    width: 41.66667%;
  }
  .small-margin-collapse > .large-6 {
    width: 50%;
  }
  .small-margin-collapse > .large-7 {
    width: 58.33333%;
  }
  .small-margin-collapse > .large-8 {
    width: 66.66667%;
  }
  .small-margin-collapse > .large-9 {
    width: 75%;
  }
  .small-margin-collapse > .large-10 {
    width: 83.33333%;
  }
  .small-margin-collapse > .large-11 {
    width: 91.66667%;
  }
  .small-margin-collapse > .large-12 {
    width: 100%;
  }
}

.small-padding-collapse {
  margin-right: 0;
  margin-left: 0;
}
.small-padding-collapse > .cell {
  padding-right: 0;
  padding-left: 0;
}

@media print, screen and (min-width: 40em) {
  .medium-margin-collapse {
    margin-right: 0;
    margin-left: 0;
  }
  .medium-margin-collapse > .cell {
    margin-right: 0;
    margin-left: 0;
  }
}
@media print, screen and (min-width: 40em) {
  .medium-margin-collapse > .small-1 {
    width: 8.33333%;
  }
  .medium-margin-collapse > .small-2 {
    width: 16.66667%;
  }
  .medium-margin-collapse > .small-3 {
    width: 25%;
  }
  .medium-margin-collapse > .small-4 {
    width: 33.33333%;
  }
  .medium-margin-collapse > .small-5 {
    width: 41.66667%;
  }
  .medium-margin-collapse > .small-6 {
    width: 50%;
  }
  .medium-margin-collapse > .small-7 {
    width: 58.33333%;
  }
  .medium-margin-collapse > .small-8 {
    width: 66.66667%;
  }
  .medium-margin-collapse > .small-9 {
    width: 75%;
  }
  .medium-margin-collapse > .small-10 {
    width: 83.33333%;
  }
  .medium-margin-collapse > .small-11 {
    width: 91.66667%;
  }
  .medium-margin-collapse > .small-12 {
    width: 100%;
  }
}
@media print, screen and (min-width: 40em) {
  .medium-margin-collapse > .medium-1 {
    width: 8.33333%;
  }
  .medium-margin-collapse > .medium-2 {
    width: 16.66667%;
  }
  .medium-margin-collapse > .medium-3 {
    width: 25%;
  }
  .medium-margin-collapse > .medium-4 {
    width: 33.33333%;
  }
  .medium-margin-collapse > .medium-5 {
    width: 41.66667%;
  }
  .medium-margin-collapse > .medium-6 {
    width: 50%;
  }
  .medium-margin-collapse > .medium-7 {
    width: 58.33333%;
  }
  .medium-margin-collapse > .medium-8 {
    width: 66.66667%;
  }
  .medium-margin-collapse > .medium-9 {
    width: 75%;
  }
  .medium-margin-collapse > .medium-10 {
    width: 83.33333%;
  }
  .medium-margin-collapse > .medium-11 {
    width: 91.66667%;
  }
  .medium-margin-collapse > .medium-12 {
    width: 100%;
  }
}
@media print, screen and (min-width: 64em) {
  .medium-margin-collapse > .large-1 {
    width: 8.33333%;
  }
  .medium-margin-collapse > .large-2 {
    width: 16.66667%;
  }
  .medium-margin-collapse > .large-3 {
    width: 25%;
  }
  .medium-margin-collapse > .large-4 {
    width: 33.33333%;
  }
  .medium-margin-collapse > .large-5 {
    width: 41.66667%;
  }
  .medium-margin-collapse > .large-6 {
    width: 50%;
  }
  .medium-margin-collapse > .large-7 {
    width: 58.33333%;
  }
  .medium-margin-collapse > .large-8 {
    width: 66.66667%;
  }
  .medium-margin-collapse > .large-9 {
    width: 75%;
  }
  .medium-margin-collapse > .large-10 {
    width: 83.33333%;
  }
  .medium-margin-collapse > .large-11 {
    width: 91.66667%;
  }
  .medium-margin-collapse > .large-12 {
    width: 100%;
  }
}

@media print, screen and (min-width: 40em) {
  .medium-padding-collapse {
    margin-right: 0;
    margin-left: 0;
  }
  .medium-padding-collapse > .cell {
    padding-right: 0;
    padding-left: 0;
  }
}

@media print, screen and (min-width: 64em) {
  .large-margin-collapse {
    margin-right: 0;
    margin-left: 0;
  }
  .large-margin-collapse > .cell {
    margin-right: 0;
    margin-left: 0;
  }
}
@media print, screen and (min-width: 64em) {
  .large-margin-collapse > .small-1 {
    width: 8.33333%;
  }
  .large-margin-collapse > .small-2 {
    width: 16.66667%;
  }
  .large-margin-collapse > .small-3 {
    width: 25%;
  }
  .large-margin-collapse > .small-4 {
    width: 33.33333%;
  }
  .large-margin-collapse > .small-5 {
    width: 41.66667%;
  }
  .large-margin-collapse > .small-6 {
    width: 50%;
  }
  .large-margin-collapse > .small-7 {
    width: 58.33333%;
  }
  .large-margin-collapse > .small-8 {
    width: 66.66667%;
  }
  .large-margin-collapse > .small-9 {
    width: 75%;
  }
  .large-margin-collapse > .small-10 {
    width: 83.33333%;
  }
  .large-margin-collapse > .small-11 {
    width: 91.66667%;
  }
  .large-margin-collapse > .small-12 {
    width: 100%;
  }
}
@media print, screen and (min-width: 64em) {
  .large-margin-collapse > .medium-1 {
    width: 8.33333%;
  }
  .large-margin-collapse > .medium-2 {
    width: 16.66667%;
  }
  .large-margin-collapse > .medium-3 {
    width: 25%;
  }
  .large-margin-collapse > .medium-4 {
    width: 33.33333%;
  }
  .large-margin-collapse > .medium-5 {
    width: 41.66667%;
  }
  .large-margin-collapse > .medium-6 {
    width: 50%;
  }
  .large-margin-collapse > .medium-7 {
    width: 58.33333%;
  }
  .large-margin-collapse > .medium-8 {
    width: 66.66667%;
  }
  .large-margin-collapse > .medium-9 {
    width: 75%;
  }
  .large-margin-collapse > .medium-10 {
    width: 83.33333%;
  }
  .large-margin-collapse > .medium-11 {
    width: 91.66667%;
  }
  .large-margin-collapse > .medium-12 {
    width: 100%;
  }
}
@media print, screen and (min-width: 64em) {
  .large-margin-collapse > .large-1 {
    width: 8.33333%;
  }
  .large-margin-collapse > .large-2 {
    width: 16.66667%;
  }
  .large-margin-collapse > .large-3 {
    width: 25%;
  }
  .large-margin-collapse > .large-4 {
    width: 33.33333%;
  }
  .large-margin-collapse > .large-5 {
    width: 41.66667%;
  }
  .large-margin-collapse > .large-6 {
    width: 50%;
  }
  .large-margin-collapse > .large-7 {
    width: 58.33333%;
  }
  .large-margin-collapse > .large-8 {
    width: 66.66667%;
  }
  .large-margin-collapse > .large-9 {
    width: 75%;
  }
  .large-margin-collapse > .large-10 {
    width: 83.33333%;
  }
  .large-margin-collapse > .large-11 {
    width: 91.66667%;
  }
  .large-margin-collapse > .large-12 {
    width: 100%;
  }
}

@media print, screen and (min-width: 64em) {
  .large-padding-collapse {
    margin-right: 0;
    margin-left: 0;
  }
  .large-padding-collapse > .cell {
    padding-right: 0;
    padding-left: 0;
  }
}

.small-offset-0 {
  margin-left: 0%;
}

.grid-margin-x > .small-offset-0 {
  margin-left: calc(0% + 0.625rem);
}

.small-offset-1 {
  margin-left: 8.33333%;
}

.grid-margin-x > .small-offset-1 {
  margin-left: calc(8.33333% + 0.625rem);
}

.small-offset-2 {
  margin-left: 16.66667%;
}

.grid-margin-x > .small-offset-2 {
  margin-left: calc(16.66667% + 0.625rem);
}

.small-offset-3 {
  margin-left: 25%;
}

.grid-margin-x > .small-offset-3 {
  margin-left: calc(25% + 0.625rem);
}

.small-offset-4 {
  margin-left: 33.33333%;
}

.grid-margin-x > .small-offset-4 {
  margin-left: calc(33.33333% + 0.625rem);
}

.small-offset-5 {
  margin-left: 41.66667%;
}

.grid-margin-x > .small-offset-5 {
  margin-left: calc(41.66667% + 0.625rem);
}

.small-offset-6 {
  margin-left: 50%;
}

.grid-margin-x > .small-offset-6 {
  margin-left: calc(50% + 0.625rem);
}

.small-offset-7 {
  margin-left: 58.33333%;
}

.grid-margin-x > .small-offset-7 {
  margin-left: calc(58.33333% + 0.625rem);
}

.small-offset-8 {
  margin-left: 66.66667%;
}

.grid-margin-x > .small-offset-8 {
  margin-left: calc(66.66667% + 0.625rem);
}

.small-offset-9 {
  margin-left: 75%;
}

.grid-margin-x > .small-offset-9 {
  margin-left: calc(75% + 0.625rem);
}

.small-offset-10 {
  margin-left: 83.33333%;
}

.grid-margin-x > .small-offset-10 {
  margin-left: calc(83.33333% + 0.625rem);
}

.small-offset-11 {
  margin-left: 91.66667%;
}

.grid-margin-x > .small-offset-11 {
  margin-left: calc(91.66667% + 0.625rem);
}

@media print, screen and (min-width: 40em) {
  .medium-offset-0 {
    margin-left: 0%;
  }

  .grid-margin-x > .medium-offset-0 {
    margin-left: calc(0% + 0.9375rem);
  }

  .medium-offset-1 {
    margin-left: 8.33333%;
  }

  .grid-margin-x > .medium-offset-1 {
    margin-left: calc(8.33333% + 0.9375rem);
  }

  .medium-offset-2 {
    margin-left: 16.66667%;
  }

  .grid-margin-x > .medium-offset-2 {
    margin-left: calc(16.66667% + 0.9375rem);
  }

  .medium-offset-3 {
    margin-left: 25%;
  }

  .grid-margin-x > .medium-offset-3 {
    margin-left: calc(25% + 0.9375rem);
  }

  .medium-offset-4 {
    margin-left: 33.33333%;
  }

  .grid-margin-x > .medium-offset-4 {
    margin-left: calc(33.33333% + 0.9375rem);
  }

  .medium-offset-5 {
    margin-left: 41.66667%;
  }

  .grid-margin-x > .medium-offset-5 {
    margin-left: calc(41.66667% + 0.9375rem);
  }

  .medium-offset-6 {
    margin-left: 50%;
  }

  .grid-margin-x > .medium-offset-6 {
    margin-left: calc(50% + 0.9375rem);
  }

  .medium-offset-7 {
    margin-left: 58.33333%;
  }

  .grid-margin-x > .medium-offset-7 {
    margin-left: calc(58.33333% + 0.9375rem);
  }

  .medium-offset-8 {
    margin-left: 66.66667%;
  }

  .grid-margin-x > .medium-offset-8 {
    margin-left: calc(66.66667% + 0.9375rem);
  }

  .medium-offset-9 {
    margin-left: 75%;
  }

  .grid-margin-x > .medium-offset-9 {
    margin-left: calc(75% + 0.9375rem);
  }

  .medium-offset-10 {
    margin-left: 83.33333%;
  }

  .grid-margin-x > .medium-offset-10 {
    margin-left: calc(83.33333% + 0.9375rem);
  }

  .medium-offset-11 {
    margin-left: 91.66667%;
  }

  .grid-margin-x > .medium-offset-11 {
    margin-left: calc(91.66667% + 0.9375rem);
  }
}
@media print, screen and (min-width: 64em) {
  .large-offset-0 {
    margin-left: 0%;
  }

  .grid-margin-x > .large-offset-0 {
    margin-left: calc(0% + 0.9375rem);
  }

  .large-offset-1 {
    margin-left: 8.33333%;
  }

  .grid-margin-x > .large-offset-1 {
    margin-left: calc(8.33333% + 0.9375rem);
  }

  .large-offset-2 {
    margin-left: 16.66667%;
  }

  .grid-margin-x > .large-offset-2 {
    margin-left: calc(16.66667% + 0.9375rem);
  }

  .large-offset-3 {
    margin-left: 25%;
  }

  .grid-margin-x > .large-offset-3 {
    margin-left: calc(25% + 0.9375rem);
  }

  .large-offset-4 {
    margin-left: 33.33333%;
  }

  .grid-margin-x > .large-offset-4 {
    margin-left: calc(33.33333% + 0.9375rem);
  }

  .large-offset-5 {
    margin-left: 41.66667%;
  }

  .grid-margin-x > .large-offset-5 {
    margin-left: calc(41.66667% + 0.9375rem);
  }

  .large-offset-6 {
    margin-left: 50%;
  }

  .grid-margin-x > .large-offset-6 {
    margin-left: calc(50% + 0.9375rem);
  }

  .large-offset-7 {
    margin-left: 58.33333%;
  }

  .grid-margin-x > .large-offset-7 {
    margin-left: calc(58.33333% + 0.9375rem);
  }

  .large-offset-8 {
    margin-left: 66.66667%;
  }

  .grid-margin-x > .large-offset-8 {
    margin-left: calc(66.66667% + 0.9375rem);
  }

  .large-offset-9 {
    margin-left: 75%;
  }

  .grid-margin-x > .large-offset-9 {
    margin-left: calc(75% + 0.9375rem);
  }

  .large-offset-10 {
    margin-left: 83.33333%;
  }

  .grid-margin-x > .large-offset-10 {
    margin-left: calc(83.33333% + 0.9375rem);
  }

  .large-offset-11 {
    margin-left: 91.66667%;
  }

  .grid-margin-x > .large-offset-11 {
    margin-left: calc(91.66667% + 0.9375rem);
  }
}
.grid-y {
  display: flex;
  flex-flow: column nowrap;
}
.grid-y > .cell {
  width: auto;
  max-width: none;
}
.grid-y > .auto {
  height: auto;
}
.grid-y > .shrink {
  height: auto;
}
.grid-y > .small-shrink, .grid-y > .small-full, .grid-y > .small-1, .grid-y > .small-2, .grid-y > .small-3, .grid-y > .small-4, .grid-y > .small-5, .grid-y > .small-6, .grid-y > .small-7, .grid-y > .small-8, .grid-y > .small-9, .grid-y > .small-10, .grid-y > .small-11, .grid-y > .small-12 {
  flex-basis: auto;
}
@media print, screen and (min-width: 40em) {
  .grid-y > .medium-shrink, .grid-y > .medium-full, .grid-y > .medium-1, .grid-y > .medium-2, .grid-y > .medium-3, .grid-y > .medium-4, .grid-y > .medium-5, .grid-y > .medium-6, .grid-y > .medium-7, .grid-y > .medium-8, .grid-y > .medium-9, .grid-y > .medium-10, .grid-y > .medium-11, .grid-y > .medium-12 {
    flex-basis: auto;
  }
}
@media print, screen and (min-width: 64em) {
  .grid-y > .large-shrink, .grid-y > .large-full, .grid-y > .large-1, .grid-y > .large-2, .grid-y > .large-3, .grid-y > .large-4, .grid-y > .large-5, .grid-y > .large-6, .grid-y > .large-7, .grid-y > .large-8, .grid-y > .large-9, .grid-y > .large-10, .grid-y > .large-11, .grid-y > .large-12 {
    flex-basis: auto;
  }
}
.grid-y > .small-1 {
  height: 8.33333%;
}
.grid-y > .small-2 {
  height: 16.66667%;
}
.grid-y > .small-3 {
  height: 25%;
}
.grid-y > .small-4 {
  height: 33.33333%;
}
.grid-y > .small-5 {
  height: 41.66667%;
}
.grid-y > .small-6 {
  height: 50%;
}
.grid-y > .small-7 {
  height: 58.33333%;
}
.grid-y > .small-8 {
  height: 66.66667%;
}
.grid-y > .small-9 {
  height: 75%;
}
.grid-y > .small-10 {
  height: 83.33333%;
}
.grid-y > .small-11 {
  height: 91.66667%;
}
.grid-y > .small-12 {
  height: 100%;
}
@media print, screen and (min-width: 40em) {
  .grid-y > .medium-auto {
    flex: 1 1 0px;
    height: auto;
  }
  .grid-y > .medium-shrink {
    height: auto;
  }
  .grid-y > .medium-1 {
    height: 8.33333%;
  }
  .grid-y > .medium-2 {
    height: 16.66667%;
  }
  .grid-y > .medium-3 {
    height: 25%;
  }
  .grid-y > .medium-4 {
    height: 33.33333%;
  }
  .grid-y > .medium-5 {
    height: 41.66667%;
  }
  .grid-y > .medium-6 {
    height: 50%;
  }
  .grid-y > .medium-7 {
    height: 58.33333%;
  }
  .grid-y > .medium-8 {
    height: 66.66667%;
  }
  .grid-y > .medium-9 {
    height: 75%;
  }
  .grid-y > .medium-10 {
    height: 83.33333%;
  }
  .grid-y > .medium-11 {
    height: 91.66667%;
  }
  .grid-y > .medium-12 {
    height: 100%;
  }
}
@media print, screen and (min-width: 64em) {
  .grid-y > .large-auto {
    flex: 1 1 0px;
    height: auto;
  }
  .grid-y > .large-shrink {
    height: auto;
  }
  .grid-y > .large-1 {
    height: 8.33333%;
  }
  .grid-y > .large-2 {
    height: 16.66667%;
  }
  .grid-y > .large-3 {
    height: 25%;
  }
  .grid-y > .large-4 {
    height: 33.33333%;
  }
  .grid-y > .large-5 {
    height: 41.66667%;
  }
  .grid-y > .large-6 {
    height: 50%;
  }
  .grid-y > .large-7 {
    height: 58.33333%;
  }
  .grid-y > .large-8 {
    height: 66.66667%;
  }
  .grid-y > .large-9 {
    height: 75%;
  }
  .grid-y > .large-10 {
    height: 83.33333%;
  }
  .grid-y > .large-11 {
    height: 91.66667%;
  }
  .grid-y > .large-12 {
    height: 100%;
  }
}

.grid-padding-y .grid-padding-y {
  margin-top: -0.625rem;
  margin-bottom: -0.625rem;
}
@media print, screen and (min-width: 40em) {
  .grid-padding-y .grid-padding-y {
    margin-top: -0.9375rem;
    margin-bottom: -0.9375rem;
  }
}
.grid-padding-y > .cell {
  padding-top: 0.625rem;
  padding-bottom: 0.625rem;
}
@media print, screen and (min-width: 40em) {
  .grid-padding-y > .cell {
    padding-top: 0.9375rem;
    padding-bottom: 0.9375rem;
  }
}

.grid-margin-y {
  margin-top: -0.625rem;
  margin-bottom: -0.625rem;
}
@media print, screen and (min-width: 40em) {
  .grid-margin-y {
    margin-top: -0.9375rem;
    margin-bottom: -0.9375rem;
  }
}
.grid-margin-y > .cell {
  height: calc(100% - 1.25rem);
  margin-top: 0.625rem;
  margin-bottom: 0.625rem;
}
@media print, screen and (min-width: 40em) {
  .grid-margin-y > .cell {
    height: calc(100% - 1.875rem);
    margin-top: 0.9375rem;
    margin-bottom: 0.9375rem;
  }
}
.grid-margin-y > .auto {
  height: auto;
}
.grid-margin-y > .shrink {
  height: auto;
}
.grid-margin-y > .small-1 {
  height: calc(8.33333% - 1.25rem);
}
.grid-margin-y > .small-2 {
  height: calc(16.66667% - 1.25rem);
}
.grid-margin-y > .small-3 {
  height: calc(25% - 1.25rem);
}
.grid-margin-y > .small-4 {
  height: calc(33.33333% - 1.25rem);
}
.grid-margin-y > .small-5 {
  height: calc(41.66667% - 1.25rem);
}
.grid-margin-y > .small-6 {
  height: calc(50% - 1.25rem);
}
.grid-margin-y > .small-7 {
  height: calc(58.33333% - 1.25rem);
}
.grid-margin-y > .small-8 {
  height: calc(66.66667% - 1.25rem);
}
.grid-margin-y > .small-9 {
  height: calc(75% - 1.25rem);
}
.grid-margin-y > .small-10 {
  height: calc(83.33333% - 1.25rem);
}
.grid-margin-y > .small-11 {
  height: calc(91.66667% - 1.25rem);
}
.grid-margin-y > .small-12 {
  height: calc(100% - 1.25rem);
}
@media print, screen and (min-width: 40em) {
  .grid-margin-y > .auto {
    height: auto;
  }
  .grid-margin-y > .shrink {
    height: auto;
  }
  .grid-margin-y > .small-1 {
    height: calc(8.33333% - 1.875rem);
  }
  .grid-margin-y > .small-2 {
    height: calc(16.66667% - 1.875rem);
  }
  .grid-margin-y > .small-3 {
    height: calc(25% - 1.875rem);
  }
  .grid-margin-y > .small-4 {
    height: calc(33.33333% - 1.875rem);
  }
  .grid-margin-y > .small-5 {
    height: calc(41.66667% - 1.875rem);
  }
  .grid-margin-y > .small-6 {
    height: calc(50% - 1.875rem);
  }
  .grid-margin-y > .small-7 {
    height: calc(58.33333% - 1.875rem);
  }
  .grid-margin-y > .small-8 {
    height: calc(66.66667% - 1.875rem);
  }
  .grid-margin-y > .small-9 {
    height: calc(75% - 1.875rem);
  }
  .grid-margin-y > .small-10 {
    height: calc(83.33333% - 1.875rem);
  }
  .grid-margin-y > .small-11 {
    height: calc(91.66667% - 1.875rem);
  }
  .grid-margin-y > .small-12 {
    height: calc(100% - 1.875rem);
  }
  .grid-margin-y > .medium-auto {
    height: auto;
  }
  .grid-margin-y > .medium-shrink {
    height: auto;
  }
  .grid-margin-y > .medium-1 {
    height: calc(8.33333% - 1.875rem);
  }
  .grid-margin-y > .medium-2 {
    height: calc(16.66667% - 1.875rem);
  }
  .grid-margin-y > .medium-3 {
    height: calc(25% - 1.875rem);
  }
  .grid-margin-y > .medium-4 {
    height: calc(33.33333% - 1.875rem);
  }
  .grid-margin-y > .medium-5 {
    height: calc(41.66667% - 1.875rem);
  }
  .grid-margin-y > .medium-6 {
    height: calc(50% - 1.875rem);
  }
  .grid-margin-y > .medium-7 {
    height: calc(58.33333% - 1.875rem);
  }
  .grid-margin-y > .medium-8 {
    height: calc(66.66667% - 1.875rem);
  }
  .grid-margin-y > .medium-9 {
    height: calc(75% - 1.875rem);
  }
  .grid-margin-y > .medium-10 {
    height: calc(83.33333% - 1.875rem);
  }
  .grid-margin-y > .medium-11 {
    height: calc(91.66667% - 1.875rem);
  }
  .grid-margin-y > .medium-12 {
    height: calc(100% - 1.875rem);
  }
}
@media print, screen and (min-width: 64em) {
  .grid-margin-y > .large-auto {
    height: auto;
  }
  .grid-margin-y > .large-shrink {
    height: auto;
  }
  .grid-margin-y > .large-1 {
    height: calc(8.33333% - 1.875rem);
  }
  .grid-margin-y > .large-2 {
    height: calc(16.66667% - 1.875rem);
  }
  .grid-margin-y > .large-3 {
    height: calc(25% - 1.875rem);
  }
  .grid-margin-y > .large-4 {
    height: calc(33.33333% - 1.875rem);
  }
  .grid-margin-y > .large-5 {
    height: calc(41.66667% - 1.875rem);
  }
  .grid-margin-y > .large-6 {
    height: calc(50% - 1.875rem);
  }
  .grid-margin-y > .large-7 {
    height: calc(58.33333% - 1.875rem);
  }
  .grid-margin-y > .large-8 {
    height: calc(66.66667% - 1.875rem);
  }
  .grid-margin-y > .large-9 {
    height: calc(75% - 1.875rem);
  }
  .grid-margin-y > .large-10 {
    height: calc(83.33333% - 1.875rem);
  }
  .grid-margin-y > .large-11 {
    height: calc(91.66667% - 1.875rem);
  }
  .grid-margin-y > .large-12 {
    height: calc(100% - 1.875rem);
  }
}

.grid-frame {
  overflow: hidden;
  position: relative;
  flex-wrap: nowrap;
  align-items: stretch;
  width: 100vw;
}

.cell .grid-frame {
  width: 100%;
}

.cell-block {
  overflow-x: auto;
  max-width: 100%;
  -webkit-overflow-scrolling: touch;
  -ms-overflow-style: -ms-autohiding-scrollbar;
}

.cell-block-y {
  overflow-y: auto;
  max-height: 100%;
  min-height: 100%;
  -webkit-overflow-scrolling: touch;
  -ms-overflow-style: -ms-autohiding-scrollbar;
}

.cell-block-container {
  display: flex;
  flex-direction: column;
  max-height: 100%;
}
.cell-block-container > .grid-x {
  max-height: 100%;
  flex-wrap: nowrap;
}

@media print, screen and (min-width: 40em) {
  .medium-grid-frame {
    overflow: hidden;
    position: relative;
    flex-wrap: nowrap;
    align-items: stretch;
    width: 100vw;
  }

  .cell .medium-grid-frame {
    width: 100%;
  }

  .medium-cell-block {
    overflow-x: auto;
    max-width: 100%;
    -webkit-overflow-scrolling: touch;
    -ms-overflow-style: -ms-autohiding-scrollbar;
  }

  .medium-cell-block-container {
    display: flex;
    flex-direction: column;
    max-height: 100%;
  }
  .medium-cell-block-container > .grid-x {
    max-height: 100%;
    flex-wrap: nowrap;
  }

  .medium-cell-block-y {
    overflow-y: auto;
    max-height: 100%;
    min-height: 100%;
    -webkit-overflow-scrolling: touch;
    -ms-overflow-style: -ms-autohiding-scrollbar;
  }
}
@media print, screen and (min-width: 64em) {
  .large-grid-frame {
    overflow: hidden;
    position: relative;
    flex-wrap: nowrap;
    align-items: stretch;
    width: 100vw;
  }

  .cell .large-grid-frame {
    width: 100%;
  }

  .large-cell-block {
    overflow-x: auto;
    max-width: 100%;
    -webkit-overflow-scrolling: touch;
    -ms-overflow-style: -ms-autohiding-scrollbar;
  }

  .large-cell-block-container {
    display: flex;
    flex-direction: column;
    max-height: 100%;
  }
  .large-cell-block-container > .grid-x {
    max-height: 100%;
    flex-wrap: nowrap;
  }

  .large-cell-block-y {
    overflow-y: auto;
    max-height: 100%;
    min-height: 100%;
    -webkit-overflow-scrolling: touch;
    -ms-overflow-style: -ms-autohiding-scrollbar;
  }
}
.grid-y.grid-frame {
  width: auto;
  overflow: hidden;
  position: relative;
  flex-wrap: nowrap;
  align-items: stretch;
  height: 100vh;
}
@media print, screen and (min-width: 40em) {
  .grid-y.medium-grid-frame {
    width: auto;
    overflow: hidden;
    position: relative;
    flex-wrap: nowrap;
    align-items: stretch;
    height: 100vh;
  }
}
@media print, screen and (min-width: 64em) {
  .grid-y.large-grid-frame {
    width: auto;
    overflow: hidden;
    position: relative;
    flex-wrap: nowrap;
    align-items: stretch;
    height: 100vh;
  }
}

.cell .grid-y.grid-frame {
  height: 100%;
}
@media print, screen and (min-width: 40em) {
  .cell .grid-y.medium-grid-frame {
    height: 100%;
  }
}
@media print, screen and (min-width: 64em) {
  .cell .grid-y.large-grid-frame {
    height: 100%;
  }
}

.grid-margin-y {
  margin-top: -0.625rem;
  margin-bottom: -0.625rem;
}
@media print, screen and (min-width: 40em) {
  .grid-margin-y {
    margin-top: -0.9375rem;
    margin-bottom: -0.9375rem;
  }
}
.grid-margin-y > .cell {
  height: calc(100% - 1.25rem);
  margin-top: 0.625rem;
  margin-bottom: 0.625rem;
}
@media print, screen and (min-width: 40em) {
  .grid-margin-y > .cell {
    height: calc(100% - 1.875rem);
    margin-top: 0.9375rem;
    margin-bottom: 0.9375rem;
  }
}
.grid-margin-y > .auto {
  height: auto;
}
.grid-margin-y > .shrink {
  height: auto;
}
.grid-margin-y > .small-1 {
  height: calc(8.33333% - 1.25rem);
}
.grid-margin-y > .small-2 {
  height: calc(16.66667% - 1.25rem);
}
.grid-margin-y > .small-3 {
  height: calc(25% - 1.25rem);
}
.grid-margin-y > .small-4 {
  height: calc(33.33333% - 1.25rem);
}
.grid-margin-y > .small-5 {
  height: calc(41.66667% - 1.25rem);
}
.grid-margin-y > .small-6 {
  height: calc(50% - 1.25rem);
}
.grid-margin-y > .small-7 {
  height: calc(58.33333% - 1.25rem);
}
.grid-margin-y > .small-8 {
  height: calc(66.66667% - 1.25rem);
}
.grid-margin-y > .small-9 {
  height: calc(75% - 1.25rem);
}
.grid-margin-y > .small-10 {
  height: calc(83.33333% - 1.25rem);
}
.grid-margin-y > .small-11 {
  height: calc(91.66667% - 1.25rem);
}
.grid-margin-y > .small-12 {
  height: calc(100% - 1.25rem);
}
@media print, screen and (min-width: 40em) {
  .grid-margin-y > .auto {
    height: auto;
  }
  .grid-margin-y > .shrink {
    height: auto;
  }
  .grid-margin-y > .small-1 {
    height: calc(8.33333% - 1.875rem);
  }
  .grid-margin-y > .small-2 {
    height: calc(16.66667% - 1.875rem);
  }
  .grid-margin-y > .small-3 {
    height: calc(25% - 1.875rem);
  }
  .grid-margin-y > .small-4 {
    height: calc(33.33333% - 1.875rem);
  }
  .grid-margin-y > .small-5 {
    height: calc(41.66667% - 1.875rem);
  }
  .grid-margin-y > .small-6 {
    height: calc(50% - 1.875rem);
  }
  .grid-margin-y > .small-7 {
    height: calc(58.33333% - 1.875rem);
  }
  .grid-margin-y > .small-8 {
    height: calc(66.66667% - 1.875rem);
  }
  .grid-margin-y > .small-9 {
    height: calc(75% - 1.875rem);
  }
  .grid-margin-y > .small-10 {
    height: calc(83.33333% - 1.875rem);
  }
  .grid-margin-y > .small-11 {
    height: calc(91.66667% - 1.875rem);
  }
  .grid-margin-y > .small-12 {
    height: calc(100% - 1.875rem);
  }
  .grid-margin-y > .medium-auto {
    height: auto;
  }
  .grid-margin-y > .medium-shrink {
    height: auto;
  }
  .grid-margin-y > .medium-1 {
    height: calc(8.33333% - 1.875rem);
  }
  .grid-margin-y > .medium-2 {
    height: calc(16.66667% - 1.875rem);
  }
  .grid-margin-y > .medium-3 {
    height: calc(25% - 1.875rem);
  }
  .grid-margin-y > .medium-4 {
    height: calc(33.33333% - 1.875rem);
  }
  .grid-margin-y > .medium-5 {
    height: calc(41.66667% - 1.875rem);
  }
  .grid-margin-y > .medium-6 {
    height: calc(50% - 1.875rem);
  }
  .grid-margin-y > .medium-7 {
    height: calc(58.33333% - 1.875rem);
  }
  .grid-margin-y > .medium-8 {
    height: calc(66.66667% - 1.875rem);
  }
  .grid-margin-y > .medium-9 {
    height: calc(75% - 1.875rem);
  }
  .grid-margin-y > .medium-10 {
    height: calc(83.33333% - 1.875rem);
  }
  .grid-margin-y > .medium-11 {
    height: calc(91.66667% - 1.875rem);
  }
  .grid-margin-y > .medium-12 {
    height: calc(100% - 1.875rem);
  }
}
@media print, screen and (min-width: 64em) {
  .grid-margin-y > .large-auto {
    height: auto;
  }
  .grid-margin-y > .large-shrink {
    height: auto;
  }
  .grid-margin-y > .large-1 {
    height: calc(8.33333% - 1.875rem);
  }
  .grid-margin-y > .large-2 {
    height: calc(16.66667% - 1.875rem);
  }
  .grid-margin-y > .large-3 {
    height: calc(25% - 1.875rem);
  }
  .grid-margin-y > .large-4 {
    height: calc(33.33333% - 1.875rem);
  }
  .grid-margin-y > .large-5 {
    height: calc(41.66667% - 1.875rem);
  }
  .grid-margin-y > .large-6 {
    height: calc(50% - 1.875rem);
  }
  .grid-margin-y > .large-7 {
    height: calc(58.33333% - 1.875rem);
  }
  .grid-margin-y > .large-8 {
    height: calc(66.66667% - 1.875rem);
  }
  .grid-margin-y > .large-9 {
    height: calc(75% - 1.875rem);
  }
  .grid-margin-y > .large-10 {
    height: calc(83.33333% - 1.875rem);
  }
  .grid-margin-y > .large-11 {
    height: calc(91.66667% - 1.875rem);
  }
  .grid-margin-y > .large-12 {
    height: calc(100% - 1.875rem);
  }
}

.grid-frame.grid-margin-y {
  height: calc(100vh + 1.25rem);
}
@media print, screen and (min-width: 40em) {
  .grid-frame.grid-margin-y {
    height: calc(100vh + 1.875rem);
  }
}
@media print, screen and (min-width: 64em) {
  .grid-frame.grid-margin-y {
    height: calc(100vh + 1.875rem);
  }
}

@media print, screen and (min-width: 40em) {
  .grid-margin-y.medium-grid-frame {
    height: calc(100vh + 1.875rem);
  }
}
@media print, screen and (min-width: 64em) {
  .grid-margin-y.large-grid-frame {
    height: calc(100vh + 1.875rem);
  }
}
.hide {
  display: none !important;
}

.invisible {
  visibility: hidden;
}

@media screen and (max-width: 39.99875em) {
  .hide-for-small-only {
    display: none !important;
  }
}

@media screen and (max-width: 0em), screen and (min-width: 40em) {
  .show-for-small-only {
    display: none !important;
  }
}

@media print, screen and (min-width: 40em) {
  .hide-for-medium {
    display: none !important;
  }
}

@media screen and (max-width: 39.99875em) {
  .show-for-medium {
    display: none !important;
  }
}

@media screen and (min-width: 40em) and (max-width: 63.99875em) {
  .hide-for-medium-only {
    display: none !important;
  }
}

@media screen and (max-width: 39.99875em), screen and (min-width: 64em) {
  .show-for-medium-only {
    display: none !important;
  }
}

@media print, screen and (min-width: 64em) {
  .hide-for-large {
    display: none !important;
  }
}

@media screen and (max-width: 63.99875em) {
  .show-for-large {
    display: none !important;
  }
}

@media screen and (min-width: 64em) and (max-width: 74.99875em) {
  .hide-for-large-only {
    display: none !important;
  }
}

@media screen and (max-width: 63.99875em), screen and (min-width: 75em) {
  .show-for-large-only {
    display: none !important;
  }
}

.show-for-sr,
.show-on-focus {
  position: absolute !important;
  width: 1px;
  height: 1px;
  padding: 0;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border: 0;
}

.show-on-focus:active, .show-on-focus:focus {
  position: static !important;
  width: auto;
  height: auto;
  overflow: visible;
  clip: auto;
  white-space: normal;
}

.show-for-landscape,
.hide-for-portrait {
  display: block !important;
}
@media screen and (orientation: landscape) {
  .show-for-landscape,
  .hide-for-portrait {
    display: block !important;
  }
}
@media screen and (orientation: portrait) {
  .show-for-landscape,
  .hide-for-portrait {
    display: none !important;
  }
}

.hide-for-landscape,
.show-for-portrait {
  display: none !important;
}
@media screen and (orientation: landscape) {
  .hide-for-landscape,
  .show-for-portrait {
    display: none !important;
  }
}
@media screen and (orientation: portrait) {
  .hide-for-landscape,
  .show-for-portrait {
    display: block !important;
  }
}

/*--------------------------------------------------------------
# Modules
--------------------------------------------------------------*/
.wrapper {
  width: 100%;
  max-width: 972px;
  margin: 0 auto;
  padding: 0 10px;
}

.wrapper-medium {
  width: 100%;
  max-width: 1185px;
  margin: 0 auto;
  padding: 0 10px;
}

.wrapper-big {
  width: 100%;
  max-width: 1420px;
  margin: 0 auto;
  padding: 0 10px;
}

.wrapper.no-pad,
.wrapper-medium.no-pad,
.wrapper-big.no-pad {
  padding: 0 !important;
}

.relative-wrapper {
  position: relative;
}

#main-header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1000;
  background-color: white;
  color: #10745D;
  transition: all 0.25s ease;
}
@media screen and (max-width: 39.99875em) {
  #main-header {
    padding: 5px;
  }
}
#main-header.is-top {
  padding-top: 20px;
  background-color: transparent;
}
@media screen and (max-width: 39.99875em) {
  #main-header.is-top {
    padding: 5px;
  }
}
#main-header.is-top .logo {
  color: white !important;
}
#main-header.is-top .main-header-menu > li.menu-item a:link,
#main-header.is-top .main-header-menu > li.menu-item a:visited,
#main-header.is-top #menu-header-menu > li.menu-item a:link,
#main-header.is-top #menu-header-menu > li.menu-item a:visited,
#main-header.is-top #menu-header-menu > ul > li.menu-item a:link,
#main-header.is-top #menu-header-menu > ul > li.menu-item a:visited {
  color: white !important;
}
#main-header #main-nav {
  padding: 5px 0;
}
#main-header #main-nav .logo-container .logo {
  font-weight: 700;
  margin: 0;
  transition: all 0.25s ease;
  color: #10745D;
}
@media screen and (max-width: 39.99875em) {
  #main-header #main-nav .logo-container .logo {
    font-size: 2em;
  }
}
#main-header #main-nav .menu-container {
  text-align: right;
}
#main-header #main-nav .menu-container .main-header-menu,
#main-header #main-nav .menu-container #menu-header-menu,
#main-header #main-nav .menu-container #menu-header-menu > ul {
  display: inline-block;
  list-style-type: none;
  padding: 0;
  margin: 0;
}
#main-header #main-nav .menu-container .main-header-menu > li.menu-item,
#main-header #main-nav .menu-container #menu-header-menu > li.menu-item,
#main-header #main-nav .menu-container #menu-header-menu > ul > li.menu-item {
  display: inline-block;
  padding: 0 20px;
  line-height: 67px;
}
#main-header #main-nav .menu-container .main-header-menu > li.menu-item a:link,
#main-header #main-nav .menu-container .main-header-menu > li.menu-item a:visited,
#main-header #main-nav .menu-container #menu-header-menu > li.menu-item a:link,
#main-header #main-nav .menu-container #menu-header-menu > li.menu-item a:visited,
#main-header #main-nav .menu-container #menu-header-menu > ul > li.menu-item a:link,
#main-header #main-nav .menu-container #menu-header-menu > ul > li.menu-item a:visited {
  text-decoration: none;
  color: #10745D;
  font-size: 1.2em;
  transition: all 0.25s ease;
}

@media screen and (max-width: 39.99875em) {
  #main-header {
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
  }
}
#main-header.is-top {
  box-shadow: 0 0 20px transparent;
}
#main-header.is-top .hamburger-button .bar {
  background-color: white;
}
@media screen and (max-width: 39.99875em) {
  #main-header.is-top .main-header-menu > li.menu-item a:link,
  #main-header.is-top .main-header-menu > li.menu-item a:visited,
  #main-header.is-top #menu-header-menu > li.menu-item a:link,
  #main-header.is-top #menu-header-menu > li.menu-item a:visited,
  #main-header.is-top #menu-header-menu > ul > li.menu-item a:link,
  #main-header.is-top #menu-header-menu > ul > li.menu-item a:visited {
    color: #10745D !important;
  }
}
#main-header.is-top.menu-opened, #main-header.menu-opened {
  background-color: white;
}
#main-header.is-top.menu-opened .logo, #main-header.menu-opened .logo {
  color: #10745D !important;
}
#main-header.is-top.menu-opened .hamburger-button .bar, #main-header.menu-opened .hamburger-button .bar {
  background-color: #10745D !important;
}
#main-header .hamburger-button {
  background: none;
  border: 0;
  height: 36px;
  width: 36px;
  padding: 0;
  margin-top: 4.4px;
  line-height: 44.8px;
  outline: none;
  transform: scale(0.8);
}
#main-header .hamburger-button .bar {
  height: 7px;
  background-color: #10745D;
  width: 100%;
  margin: 0 auto 7px;
  border-radius: 3.5px;
}
#main-header .hamburger-button .bar:last-of-type {
  margin-bottom: 0;
}
@media screen and (max-width: 39.99875em) {
  #main-header #main-nav .menu-container {
    display: block;
    position: absolute;
    bottom: 100%;
    left: 0;
    z-index: -50;
    background: white;
  }
  #main-header #main-nav .menu-container .main-header-menu,
  #main-header #main-nav .menu-container #menu-header-menu,
  #main-header #main-nav .menu-container #menu-header-menu > ul {
    padding: 20px 0 66px;
    display: block;
    width: 100%;
  }
  #main-header #main-nav .menu-container .main-header-menu > li.menu-item,
  #main-header #main-nav .menu-container #menu-header-menu > li.menu-item,
  #main-header #main-nav .menu-container #menu-header-menu > ul > li.menu-item {
    display: block;
    text-align: center;
  }
  #main-header #main-nav .menu-container .main-header-menu > li.menu-item a:link,
  #main-header #main-nav .menu-container .main-header-menu > li.menu-item a:visited,
  #main-header #main-nav .menu-container #menu-header-menu > li.menu-item a:link,
  #main-header #main-nav .menu-container #menu-header-menu > li.menu-item a:visited,
  #main-header #main-nav .menu-container #menu-header-menu > ul > li.menu-item a:link,
  #main-header #main-nav .menu-container #menu-header-menu > ul > li.menu-item a:visited {
    font-size: 1.8em;
  }
}

.menu-opened-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: black;
  opacity: 0.5;
  visibility: visible;
  z-index: 900;
  transition: all 0.4s ease;
}
.menu-opened-overlay.menu-closed {
  opacity: 0;
  visibility: hidden;
}

body.menu-opened {
  overflow: hidden;
}

.site-footer {
  background-color: white;
  color: #b3b3b3;
  padding: 50px 0 30px;
}
@media screen and (max-width: 39.99875em) {
  .site-footer {
    font-size: 1.2em;
    padding: 50px 20px 30px;
  }
}
.site-footer .social-menu {
  display: flex;
  align-items: center;
}
@media screen and (max-width: 39.99875em) {
  .site-footer .social-menu {
    order: 2;
    margin-bottom: 20px;
  }
}
.site-footer .social-icons-menu {
  padding: 0;
  margin: 0;
  list-style-type: none;
}
.site-footer .social-icons-menu li {
  display: inline-block;
  margin: 0 8px;
}
.site-footer .social-icons-menu li a:link,
.site-footer .social-icons-menu li a:visited {
  color: #589e8e;
  font-size: 1.8em;
}
.site-footer .social-icons-menu li a:hover {
  color: #88baae;
}
.site-footer .footer-menu {
  display: flex;
  align-items: center;
  justify-content: center;
}
@media screen and (max-width: 39.99875em) {
  .site-footer .footer-menu {
    order: 1;
    justify-content: left;
    margin-bottom: 20px;
  }
}
.site-footer .footer-menu .main-footer-menu {
  margin: 0;
  padding: 0;
  list-style-type: none;
  text-align: left;
}
.site-footer .footer-menu .main-footer-menu li {
  display: inline-block;
  margin: 0 20px;
}
@media screen and (max-width: 39.99875em) {
  .site-footer .footer-menu .main-footer-menu li {
    display: block;
    margin: 0;
  }
}
.site-footer .footer-menu .main-footer-menu li a:link,
.site-footer .footer-menu .main-footer-menu li a:visited {
  color: #589e8e;
  font-weight: 700;
  font-size: 1.1em;
}
.site-footer .footer-menu .main-footer-menu li a:hover {
  color: #88baae;
}
@media screen and (max-width: 39.99875em) {
  .site-footer .colophon {
    order: 3;
  }
}
.site-footer .colophon p {
  margin: 0;
  font-weight: 700;
  text-align: right;
}
@media screen and (max-width: 39.99875em) {
  .site-footer .colophon p {
    text-align: left;
  }
}

.front-page.custom-section .hero-banner {
  padding: 130px 0 40px;
  background-color: #138a6f;
  color: white;
  margin: 0;
  overflow: hidden;
}
.front-page.custom-section .hero-banner .banner-image {
  display: flex;
  align-items: center;
}
@media screen and (max-width: 39.99875em) {
  .front-page.custom-section .hero-banner .banner-image {
    order: 2;
    margin-top: 30px;
    text-align: center;
  }
}
.front-page.custom-section .hero-banner .banner-image img {
  max-width: 100%;
  display: block;
  transform: rotate(-16deg);
}
@media screen and (max-width: 39.99875em) {
  .front-page.custom-section .hero-banner .banner-image img {
    max-width: 80%;
    margin: 0 auto -200px;
  }
}
.front-page.custom-section .hero-banner .banner-contents {
  display: flex;
  align-items: center;
  position: relative;
  z-index: 5;
}
@media screen and (max-width: 39.99875em) {
  .front-page.custom-section .hero-banner .banner-contents {
    order: 1;
    padding: 0 20px;
  }
}
.front-page.custom-section .hero-banner .banner-contents .banner-heading {
  color: #FAB6A6;
  font-size: 3.6em;
  line-height: 1.3em;
}
@media screen and (max-width: 39.99875em) {
  .front-page.custom-section .hero-banner .banner-contents .banner-heading {
    font-size: 2.8em;
  }
}
.front-page.custom-section .hero-banner .banner-contents .banner-subtext {
  font-size: 1.5em;
}
@media screen and (max-width: 39.99875em) {
  .front-page.custom-section .hero-banner .banner-contents .banner-subtext {
    font-size: 1.2em;
  }
}
.front-page.custom-section .hero-banner .banner-contents .hero-search {
  margin-top: 30px;
}
.front-page.custom-section .hero-banner .banner-contents .hero-search #cm-search {
  height: 58px;
  background: white;
  border: 0;
  outline: none;
  padding: 0 30px;
}
@media screen and (max-width: 39.99875em) {
  .front-page.custom-section .hero-banner .banner-contents .hero-search #cm-search {
    height: 50px;
    font-size: 1em;
    padding: 0 20px;
  }
}
.front-page.custom-section .hero-banner .banner-contents .hero-search button {
  height: 58px;
  background-color: #FAB6A6;
  color: white;
  border: 0;
  outline: none;
  padding: 0 30px;
}
.front-page.custom-section .hero-banner .banner-contents .hero-search button:hover {
  background-color: #e1a495;
}
@media screen and (max-width: 39.99875em) {
  .front-page.custom-section .hero-banner .banner-contents .hero-search button {
    height: 50px;
    font-size: 1em;
    padding: 0 20px;
  }
}
.front-page.custom-section .hero-banner .banner-contents .mobile-stores {
  list-style-type: none;
  margin: 30px 0 0;
  padding: 0;
}
.front-page.custom-section .hero-banner .banner-contents .mobile-stores li {
  display: inline-block;
  margin: 0 15px 0 0;
}
@media screen and (max-width: 39.99875em) {
  .front-page.custom-section .hero-banner .banner-contents .mobile-stores li {
    margin: 0 10px 0 0;
  }
}
.front-page.custom-section .hero-banner .banner-contents .mobile-stores li img {
  max-height: 58px;
  display: block;
}
@media screen and (max-width: 39.99875em) {
  .front-page.custom-section .hero-banner .banner-contents .mobile-stores li img {
    max-height: 48px;
  }
}
.front-page.custom-section .restaurant-partners {
  padding: 80px 0;
  color: gray;
  text-align: center;
}
.front-page.custom-section .restaurant-partners .section-heading {
  color: gray;
  font-size: 2.5em;
  font-weight: 700;
}
.front-page.custom-section .restaurant-partners .subtext {
  font-size: 1.3em;
  color: gray;
  margin-bottom: 60px;
}
.front-page.custom-section .restaurant-partners .partners-slider {
  position: relative;
}
.front-page.custom-section .restaurant-partners .partners-slider::before, .front-page.custom-section .restaurant-partners .partners-slider::after {
  display: block;
  content: '';
  position: absolute;
  z-index: 100;
  top: 0;
  height: 100%;
  width: 40px;
}
.front-page.custom-section .restaurant-partners .partners-slider::before {
  background: linear-gradient(to right, white, rgba(255, 255, 255, 0));
  left: 0;
}
.front-page.custom-section .restaurant-partners .partners-slider::after {
  background: linear-gradient(to left, white, rgba(255, 255, 255, 0));
  right: 0;
}
.front-page.custom-section .partners-container .partner-item {
  padding: 0 30px;
  outline: none;
  text-align: center;
}
.front-page.custom-section .partners-container .partner-item .partner-logo {
  max-height: 100px;
  display: block;
  margin: 0 auto;
}
.front-page.custom-section .step-by-step {
  background-color: #10745D;
  color: white;
  padding: 50px 0;
}
.front-page.custom-section .step-by-step .phone-demo-container.large .step-image {
  text-align: center;
  outline: none;
}
.front-page.custom-section .step-by-step .phone-demo-container.large .step-image img {
  display: block;
  margin: 0 auto;
}
.front-page.custom-section .step-by-step .phone-demo-container.large .slick-dots {
  margin: 0;
  padding: 0;
  list-style-type: none;
  text-align: center;
}
.front-page.custom-section .step-by-step .phone-demo-container.large .slick-dots li {
  display: inline-block;
  margin: 0 10px;
}
.front-page.custom-section .step-by-step .phone-demo-container.large .slick-dots li.slick-active button {
  opacity: 1;
  background: #E86A3F;
}
.front-page.custom-section .step-by-step .phone-demo-container.large .slick-dots li button {
  border: 0;
  outline: none;
  background: white;
  font-size: 0;
  line-height: 0;
  color: transparent;
  height: 15px;
  width: 15px;
  display: block;
  opacity: 0.5;
  border-radius: 50%;
  content: '';
  cursor: pointer;
  transition: all 0.2s ease;
}
.front-page.custom-section .step-by-step .phone-demo-container.large .slick-dots li button:hover {
  opacity: 1;
}
.front-page.custom-section .step-by-step .steps-container {
  display: flex;
  align-items: center;
}
.front-page.custom-section .step-by-step .steps-container .step-text {
  padding: 0 10px;
}
@media screen and (max-width: 39.99875em) {
  .front-page.custom-section .step-by-step .steps-container .step-text {
    text-align: center;
    padding: 0 20px;
    margin-bottom: 30px;
  }
}
.front-page.custom-section .step-by-step .steps-container .step-text img.step-number {
  max-height: 230px;
  margin-bottom: 20px;
  cursor: pointer;
  transition: all 0.2s ease;
}
.front-page.custom-section .step-by-step .steps-container .step-text img.step-number:hover {
  transform: scale(1.05);
}
@media screen and (max-width: 39.99875em) {
  .front-page.custom-section .step-by-step .steps-container .step-text img.step-number {
    max-height: 170px;
    max-width: 80%;
  }
}
.front-page.custom-section .step-by-step .steps-container .step-text .step-label {
  font-size: 2em;
}
.front-page.custom-section .step-by-step .steps-container .step-text:nth-of-type(1) .step-label {
  color: #E86A3F;
}
.front-page.custom-section .step-by-step .steps-container .step-text:nth-of-type(2) .step-label {
  color: #FAB6A6;
}
.front-page.custom-section .step-by-step .steps-container .step-text:nth-of-type(3) .step-label {
  color: #FADAA6;
}
@media screen and (max-width: 39.99875em) {
  .front-page.custom-section .step-by-step .steps-container .step-text img.demo {
    max-height: 500px;
    max-width: 100%;
  }
}
.front-page.custom-section .cm-map {
  position: relative;
}
.front-page.custom-section .cm-map .shadow {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 50px;
  z-index: 10;
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0.2), transparent);
}
.front-page.custom-section .cm-map .map-section {
  background-color: #e6e6e6;
  background-image: url("images/CM_Map_right.jpg");
  background-size: cover;
  background-position: right center;
  min-height: 700px;
}
@media screen and (max-width: 39.99875em) {
  .front-page.custom-section .cm-map .map-section {
    min-height: 600px;
    order: 2;
    background-image: url("images/CM_Map.jpg");
    background-position: center center;
  }
}
.front-page.custom-section .cm-map .text-section {
  background-color: #FFE293;
  color: #40907d;
  display: flex;
  align-items: center;
}
@media screen and (max-width: 39.99875em) {
  .front-page.custom-section .cm-map .text-section {
    order: 1;
    min-height: 200px;
    position: relative;
    z-index: 10;
  }
}
.front-page.custom-section .cm-map .text-section .inner {
  max-width: 510px;
}
@media screen and (max-width: 39.99875em) {
  .front-page.custom-section .cm-map .text-section .inner {
    max-width: auto;
    padding: 0 30px;
  }
}
.front-page.custom-section .cm-map .text-section h2 {
  margin-left: -33%;
  line-height: 1.2em;
  width: 100%;
  font-weight: 700;
  font-size: 3.8em;
}
@media screen and (max-width: 39.99875em) {
  .front-page.custom-section .cm-map .text-section h2 {
    font-size: 3em;
    margin: 0 0 -25%;
  }
  .front-page.custom-section .cm-map .text-section h2 .big {
    line-height: 1em;
  }
}
.front-page.custom-section .cm-map .text-section h2 .big {
  font-size: 2em;
  display: block;
}
.front-page.custom-section .cm-map .text-section p {
  font-size: 1.4em;
  padding: 0 70px;
  margin: 40px 0;
}
.front-page.custom-section .get-started {
  background: #F4D3CA;
  background: linear-gradient(to bottom right, #e9a795, #F4D3CA);
  position: relative;
  overflow: hidden;
  padding-bottom: 200px;
}
.front-page.custom-section .get-started .text-content {
  color: #E86A3F;
  padding: 200px 0;
  position: relative;
  z-index: 2;
  max-width: 700px;
}
@media screen and (max-width: 39.99875em) {
  .front-page.custom-section .get-started .text-content {
    padding: 60px 15px 100px;
  }
}
.front-page.custom-section .get-started .text-content h2 {
  font-size: 3.8em;
  font-weight: 700;
}
.front-page.custom-section .get-started .text-content p {
  font-size: 1.7em;
}
.front-page.custom-section .get-started .text-content .mobile-stores {
  list-style-type: none;
  margin: 30px 0 0;
  padding: 0;
}
.front-page.custom-section .get-started .text-content .mobile-stores li {
  display: inline-block;
  margin: 0 15px 0 0;
}
.front-page.custom-section .get-started .text-content .mobile-stores li img {
  max-height: 58px;
  display: block;
}
.front-page.custom-section .get-started img.burger-bg {
  position: absolute;
  z-index: 0;
  right: 50px;
  bottom: 0;
  max-height: 100%;
}
@media screen and (max-width: 39.99875em) {
  .front-page.custom-section .get-started img.burger-bg {
    right: 0;
    width: 125%;
    height: auto;
  }
}
.front-page.custom-section .testimonials {
  background: white;
  padding: 60px 0;
}
.front-page.custom-section .testimonials .section-title {
  color: gray;
  font-size: 2.3em;
  text-align: center;
}
.front-page.custom-section .testimonials .testimonials-container {
  margin-top: 40px;
  align-items: center;
}
.front-page.custom-section .testimonials .testimonials-container .testimonial {
  text-align: center;
  padding: 0 20px;
}
@media screen and (max-width: 39.99875em) {
  .front-page.custom-section .testimonials .testimonials-container .testimonial {
    margin-bottom: 50px;
  }
}
.front-page.custom-section .testimonials .testimonials-container .testimonial .stars {
  margin-bottom: 20px;
}
.front-page.custom-section .testimonials .testimonials-container .testimonial .stars ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
.front-page.custom-section .testimonials .testimonials-container .testimonial .stars ul li {
  display: inline-block;
  color: #FFE293;
  font-size: 1.3em;
}
.front-page.custom-section .testimonials .testimonials-container .testimonial .customer-dialog p {
  font-size: 1.2em;
}
.front-page.custom-section .testimonials .testimonials-container .testimonial .customer-photo {
  display: inline-block;
  height: 72px;
  width: 72px;
  background-color: #cccccc;
  background-position: center center;
  background-size: cover;
  border-radius: 50%;
}
.front-page.custom-section .testimonials .testimonials-container .testimonial .customer-name {
  font-size: 1.4em;
  font-weight: 700;
}
.front-page.custom-section .numbers {
  padding: 90px 0;
  background-color: #FFE293;
}
@media screen and (max-width: 39.99875em) {
  .front-page.custom-section .numbers {
    padding: 50px 0;
  }
}
.front-page.custom-section .numbers .numbers-container {
  text-align: center;
}
.front-page.custom-section .numbers .numbers-container .item {
  padding: 0 20px;
}
@media screen and (max-width: 39.99875em) {
  .front-page.custom-section .numbers .numbers-container .item {
    margin-bottom: 35px;
  }
}
.front-page.custom-section .numbers .numbers-container .item .banner-container {
  position: relative;
  margin-bottom: 30px;
}
.front-page.custom-section .numbers .numbers-container .item .banner-container .bg-circle {
  height: 200px;
  width: 200px;
  margin: 0 auto;
  background-color: black;
  opacity: 0.2;
  border-radius: 50%;
}
.front-page.custom-section .numbers .numbers-container .item .banner-container h3 {
  position: absolute;
  top: 50%;
  left: 0;
  width: 100%;
  z-index: 2;
  transform: translateY(-50%);
  text-align: center;
}
.front-page.custom-section .numbers .numbers-container .item .banner-container h3 .small {
  display: block;
  margin: 0;
  line-height: 1.1em;
}
.front-page.custom-section .numbers .numbers-container .item .banner-container h3 .main {
  font-size: 2.7em;
  display: block;
  font-weight: 700;
  line-height: 1em;
}
.front-page.custom-section .numbers .numbers-container .item .subtext {
  font-size: 1.3em;
  margin: 0;
}
.front-page.custom-section .numbers .numbers-container .item:nth-of-type(1) {
  color: #E86A3F;
}
.front-page.custom-section .numbers .numbers-container .item:nth-of-type(1) .banner-container .bg-circle {
  background-color: #E86A3F;
}
.front-page.custom-section .numbers .numbers-container .item:nth-of-type(2) {
  color: #40907d;
}
.front-page.custom-section .numbers .numbers-container .item:nth-of-type(2) .banner-container .bg-circle {
  background-color: #40907d;
}
.front-page.custom-section .numbers .numbers-container .item:nth-of-type(3) {
  color: #af7f74;
}
.front-page.custom-section .numbers .numbers-container .item:nth-of-type(3) .banner-container .bg-circle {
  background-color: #af7f74;
}
.front-page.custom-section .quote {
  padding: 80px 0;
  background-color: #10745D;
}
.front-page.custom-section .quote .inner {
  position: relative;
}
.front-page.custom-section .quote .inner .quotation-marks {
  position: absolute;
  top: 50%;
  left: 50%;
  opacity: 0.1;
  transform: translate(-50%, -50%);
  z-index: 1;
}
.front-page.custom-section .quote .inner .text {
  color: #9fc7be;
  position: relative;
  z-index: 5;
  max-width: 720px;
  margin: 0 auto;
  text-align: center;
}
@media screen and (max-width: 39.99875em) {
  .front-page.custom-section .quote .inner .text {
    padding: 0 20px;
  }
}
.front-page.custom-section .quote .inner .text blockquote {
  border-left: 0;
  margin: 0 0 30px;
  padding: 0;
  font-size: 2.2em;
  color: #b7d5ce;
}
.front-page.custom-section .quote .inner .text cite {
  font-size: 1.6em;
  font-style: normal;
  color: #e7f1ef;
}
.front-page.custom-section .quote .inner .text cite::before {
  display: none;
}
.front-page.custom-section .talk {
  padding: 130px 0;
  background-color: #589e8e;
  text-align: center;
  color: white;
}
@media screen and (max-width: 39.99875em) {
  .front-page.custom-section .talk {
    padding: 90px 20px;
  }
}
.front-page.custom-section .talk h2 {
  margin: 0 0 50px;
  font-size: 3em;
}
.front-page.custom-section .talk .media-container .media {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0 10px;
}
@media screen and (max-width: 39.99875em) {
  .front-page.custom-section .talk .media-container .media {
    margin-bottom: 20px;
  }
}
.front-page.custom-section .talk .media-container .media img {
  display: block;
  max-width: 100%;
  max-height: 95px;
}
