
// Typography module defaulted by underscores template.
// If you wish to change typography please change it in _settings.scss in
// the 'sass' folder.

.screen-reader-text {
    border: 0;
    clip: rect(1px, 1px, 1px, 1px);
    clip-path: inset(50%);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute !important;
    width: 1px;
    word-wrap: normal !important;
  }

  body {
    @include globalfont();
    color: $color_font;
  }