
.site-footer {
    background-color: white;
    color: lighten($color_font, 20%); 
    padding: 50px 0 30px;
    @include breakpoint(small only) {
        font-size: 1.2em;
        padding: 50px 20px 30px;
    }

    .social-menu {
        display: flex;
        align-items: center;
        @include breakpoint(small only) {
            order: 2;
            margin-bottom: 20px;
        }
    }

    .social-icons-menu {
        padding: 0;
        margin: 0;
        list-style-type: none;

        li {
            display: inline-block;
            margin: 0 8px;

            a:link,
            a:visited {
                color: tint($color_main, 30%);
                font-size: 1.8em;
            }
            a:hover {
                color: tint($color_main, 50%);
            }
        }
    }

    .footer-menu {
        display: flex;
        align-items: center;
        justify-content: center;
        @include breakpoint(small only) {
            order: 1;
            justify-content: left;
            margin-bottom: 20px;
        }

        .main-footer-menu {
            margin: 0;
            padding: 0;
            list-style-type: none;
            text-align: left;

            li {
                display: inline-block;
                margin: 0 20px;
                @include breakpoint(small only) {
                    display: block;
                    margin: 0;
                }

                a:link,
                a:visited {
                    color: tint($color_main, 30%);
                    font-weight: 700;
                    font-size: 1.1em;
                }
                a:hover {
                    color: tint($color_main, 50%);
                }
            }
        }
    }

    .colophon {
        @include breakpoint(small only) {
            order: 3;
        }
        
        p {
            margin: 0;
            font-weight: 700;
            text-align: right;
            @include breakpoint(small only) {
                text-align: left;
            }
        }
    }
}

