.front-page.custom-section {
    
    // RO BANNER

    .hero-banner {
        padding: 130px 0 40px;
        background-color: lighten($color_main, 5%);
        color: white;
        margin: 0;
        overflow: hidden;

        .banner-image {
            // height: 450px;
            display: flex;
            align-items: center;
            @include breakpoint(small only) {
                order: 2;
                margin-top: 30px;
                text-align: center;
            }

            img {
                max-width: 100%;
                display: block;
                transform: rotate(-16deg);
                @include breakpoint(small only) {
                    max-width: 80%;
                    margin: 0 auto -200px;
                }
            }
        }

        .banner-contents {
            display: flex;
            align-items: center;
            position: relative;
            z-index: 5;
            @include breakpoint(small only) {
                order: 1;
                padding: 0 20px;
            }
            // justify-content: center;

            .banner-heading {
                color: $color_pink;
                // font-weight: 700;
                font-size: 3.6em;
                line-height: 1.3em;
                @include breakpoint(small only) {
                    font-size: 2.8em;
                }
            }

            .banner-subtext {
                font-size: 1.5em;
                @include breakpoint(small only) {
                    font-size: 1.2em;
                }
            }

            .hero-search {
                margin-top: 30px;

                #cm-search {
                    height: 58px;
                    background: white;
                    border: 0;
                    outline: none;
                    padding: 0 30px;
                    @include breakpoint(small only) {
                        height: 50px;
                        font-size: 1em;
                        padding: 0 20px;
                    }
                }
                button {
                    height: 58px;
                    background-color: $color_pink;
                    color: white;
                    border: 0;
                    outline: none;
                    padding: 0 30px;
                    &:hover {
                        background-color: shade($color_pink, 10%);
                    }
                    @include breakpoint(small only) {
                        height: 50px;
                        font-size: 1em;
                        padding: 0 20px;
                    }
                }
            }

            .mobile-stores {
                list-style-type: none;
                margin: 30px 0 0;
                padding: 0;

                li {
                    display: inline-block;
                    margin: 0 15px 0 0;
                    @include breakpoint(small only) {
                        margin: 0 10px 0 0;
                    }

                    img {
                        max-height: 58px;
                        display: block;
                        @include breakpoint(small only) {
                            max-height: 48px;
                        }
                    }
                }
            }
        }
    }


    // PARTNER RESTAURANTS
    .restaurant-partners {
        padding: 80px 0;
        color: $color_font;
        text-align: center;

        .section-heading {
            color: $color_font;
            font-size: 2.5em;
            font-weight: 700;
        }
        .subtext {
            font-size: 1.3em;
            color: $color_font;
            margin-bottom: 60px;
        }

        .partners-slider {
            position: relative;

            &::before,
            &::after {
                display: block;
                content: '';
                position: absolute;
                z-index: 100;
                top: 0;
                height: 100%;
                width: 40px;
            }

            &::before {
                background: linear-gradient(to right, rgba(white, 1), rgba(white, 0));
                left: 0;
            }

            &::after {
                background: linear-gradient(to left, rgba(white, 1), rgba(white, 0));
                right: 0;
            }
        }

    }

    .partners-container {

        .partner-item {
            padding: 0 30px;
            outline: none;
            text-align: center;

            .partner-logo {
                max-height: 100px;
                display: block;
                margin: 0 auto;
                // @include breakpoint(small only) {
                //     max-height: 130px;
                //     max-width: 80%;
                // }
            }
        }
    }


    // STEPS
    .step-by-step {
        background-color: $color_main;
        color: white;
        padding: 50px 0;

        .phone-demo-container.large {

            .step-image {
                text-align: center;
                outline: none;

                img {
                    display: block;
                    margin: 0 auto;
                }
            }

            .slick-dots {
                margin: 0;
                padding: 0;
                list-style-type: none;
                text-align: center;

                li {
                    display: inline-block;
                    margin: 0 10px;

                    &.slick-active button {
                        opacity: 1;
                        background: $color_orange;
                    }

                    button {
                        border: 0;
                        outline: none;
                        background: white;
                        font-size: 0;
                        line-height: 0;
                        color: transparent;
                        height: 15px;
                        width: 15px;
                        display: block;
                        opacity: 0.5;
                        border-radius: 50%;
                        content: '';
                        cursor: pointer;
                        transition: all 0.2s ease;
                        &:hover {
                            opacity: 1;
                        }
                    }
                }
            }
        }

        .steps-container {
            display: flex;
            align-items: center;

            .step-text {
                padding: 0 10px;
                @include breakpoint(small only) {
                    text-align: center;
                    padding: 0 20px;
                    margin-bottom: 30px;
                }

                img.step-number {
                    // display: block;
                    max-height: 230px;
                    margin-bottom: 20px;
                    cursor: pointer;
                    transition: all 0.2s ease;
                    &:hover {
                        transform: scale(1.05);
                    }
                    @include breakpoint(small only) {
                        max-height: 170px;
                        max-width: 80%;
                    }
                }

                .step-label {
                    font-size: 2em;
                    
                }

                &:nth-of-type(1) .step-label {
                    color: $color_orange;
                }
                &:nth-of-type(2) .step-label {
                    color: $color_pink;
                }
                &:nth-of-type(3) .step-label {
                    color: $color_peach;
                }

                img.demo {
                    @include breakpoint(small only) {
                        max-height: 500px;
                        max-width: 100%;
                    }
                }
            }
        }

    } 


    // MAP
    .cm-map {
        position: relative;

        .shadow {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 50px;
            z-index: 10;
            background: linear-gradient(to bottom, rgba(black, 0.2), rgba(black, 0));
        }

        .map-section {
            background-color: shade(white, 10%);
            background-image: url('images/CM_Map_right.jpg');
            background-size: cover;
            background-position: right center;
            min-height: 700px;
            @include breakpoint(small only) {
                min-height: 600px;
                order: 2;
                background-image: url('images/CM_Map.jpg');
                background-position: center center;
            }
        }

        .text-section {
            background-color: $color_yellow;
            color: tint($color_main, 20%);
            display: flex;
            align-items: center;
            @include breakpoint(small only) {
                order: 1;
                min-height: 200px;
                position: relative;
                z-index: 10;
            }

            .inner {
                max-width: 510px;
                @include breakpoint(small only) {
                    max-width: auto;
                    padding: 0 30px;
                }
            }

            h2 {
                margin-left: -33%;
                line-height: 1.2em;
                width: 100%;
                font-weight: 700;
                font-size: 3.8em;
                @include breakpoint(small only) {
                    font-size: 3em;
                    margin: 0 0 -25%;
                    .big {
                        line-height: 1em;
                    }
                }

                .big {
                    font-size: 2em;
                    display: block;
                }
            }

            p {
                font-size: 1.4em;
                padding:  0 70px;
                margin: 40px 0;
            }
        }
    }


    // GET STARTED
    .get-started {
        background: #F4D3CA;
        background: linear-gradient(to bottom right, darken(#F4D3CA, 12.5%), #F4D3CA);
        position: relative;
        overflow: hidden;
        padding-bottom: 200px;

        .text-content {
            color: $color_orange;
            padding: 200px 0;
            position: relative;
            z-index: 2;
            max-width: 700px;
            @include breakpoint(small only) {
                padding: 60px 15px 100px;
            }

            h2 {
                font-size: 3.8em;
                font-weight: 700;
            }

            p {
                font-size: 1.7em;
            }

            .mobile-stores {
                list-style-type: none;
                margin: 30px 0 0;
                padding: 0;

                li {
                    display: inline-block;
                    margin: 0 15px 0 0;

                    img {
                        max-height: 58px;
                        display: block;
                    }
                }
            }
        }

        img.burger-bg {
            position: absolute;
            z-index: 0;
            right: 50px;
            bottom: 0;
            max-height: 100%;
            @include breakpoint(small only) {
                right: 0;
                width: 125%;
                height: auto;
            }
        }
    }


    // TESTIMONIALS
    .testimonials{
        background: white;
        padding: 60px 0;
        
        .section-title {
            color: $color_font;
            font-size: 2.3em;
            text-align: center;
        }

        .testimonials-container {
            margin-top: 40px;
            align-items: center;

            .testimonial {
                text-align: center;
                padding: 0 20px;
                @include breakpoint(small only) {
                    margin-bottom: 50px;
                }

                .stars {
                    margin-bottom: 20px;

                    ul {
                        list-style-type: none;
                        margin: 0;
                        padding: 0;

                        li {
                            display: inline-block;
                            color: $color_yellow;
                            font-size: 1.3em;
                        }
                    }
                }

                .customer-dialog {

                    p {
                        font-size: 1.2em;
                    }
                }

                .customer-photo {
                    display: inline-block;
                    height: 72px;
                    width: 72px;
                    background-color: shade(white, 20%);
                    background-position: center center;
                    background-size: cover;
                    border-radius: 50%;
                }
                
                .customer-name {
                    font-size: 1.4em;
                    font-weight: 700;
                }
            }
        }

    }

    // NUMBERS
    .numbers {
        padding: 90px 0;
        background-color: $color_yellow;
        @include breakpoint(small only) {
            padding: 50px 0;
        }

        .numbers-container {
            text-align: center;

            .item {
                padding: 0 20px;
                @include breakpoint(small only) {
                    margin-bottom: 35px;
                }

                .banner-container {
                    position: relative;
                    margin-bottom: 30px;

                    .bg-circle {
                        height: 200px;
                        width: 200px;
                        margin: 0 auto;
                        background-color: black;
                        opacity: 0.2;
                        border-radius: 50%;
                    }

                    h3 {
                        position: absolute;
                        top: 50%;
                        left: 0;
                        width: 100%;
                        z-index: 2;
                        transform: translateY(-50%);
                        text-align: center;

                        .small {
                            display: block;
                            margin: 0;
                            line-height: 1.1em;
                        }
                        .main {
                            font-size: 2.7em;
                            display: block;
                            font-weight: 700;
                            line-height: 1em;
                        }
                    }
                }

                .subtext {
                    font-size: 1.3em;
                    margin: 0;
                }

                // color variations
                &:nth-of-type(1) {
                    color: $color_orange;
                    .banner-container .bg-circle {
                        background-color: $color_orange;
                    }
                }
                &:nth-of-type(2) {
                    color: tint($color_main, 20%);
                    .banner-container .bg-circle {
                        background-color: tint($color_main, 20%);
                    }
                }
                &:nth-of-type(3) {
                    color: shade($color_pink, 30%);
                    .banner-container .bg-circle {
                        background-color: shade($color_pink, 30%);
                    }
                }
            }
        }
    }

    // QUOTE
    .quote {
        padding: 80px 0;
        background-color: $color_main;
        
        .inner {
            position: relative;

            .quotation-marks {
                position: absolute;
                top: 50%;
                left: 50%;
                opacity: 0.1;
                transform: translate(-50%, -50%);
                z-index: 1;
            }

            .text {
                color: tint($color_main, 60%);
                position: relative;
                z-index: 5;
                max-width: 720px;
                margin: 0 auto;
                text-align: center;
                @include breakpoint(small only) {
                    padding: 0 20px;
                }

                blockquote {
                    border-left: 0;
                    margin: 0 0 30px;
                    padding: 0;
                    font-size: 2.2em;
                    color: tint($color_main, 70%);
                }
                
                cite {
                    font-size: 1.6em;
                    font-style: normal;
                    color: tint($color_main, 90%);
                    &::before {
                        display: none;
                    }
                }
            }
        }
    }

    // LOOK WHO'S TALKING
    .talk {
        padding: 130px 0;
        background-color: tint($color_main, 30%);
        text-align: center;
        color: white;
        @include breakpoint(small only) {
            padding: 90px 20px;
        }

        h2 {
            margin: 0 0 50px;
            font-size: 3em;
        }

        .media-container {

            .media {
                display: flex;
                align-items: center;
                justify-content: center;
                padding: 0 10px;
                @include breakpoint(small only) {
                    margin-bottom: 20px;
                }

                img {
                    display: block;
                    max-width: 100%;
                    max-height: 95px;
                }
            }
        }
    }

}