
@mixin headerTransition {
    transition: all 0.25s ease;
}

#main-header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1000;
    background-color: white;
    color: $color_main;
    @include headerTransition();
    @include breakpoint(small only) {
        padding: 5px;
    }
    &.is-top {
        padding-top: 20px;
        background-color: transparent;
        @include breakpoint(small only) {
            padding: 5px;
        }

        .logo {
            color: white !important;
        }

        .main-header-menu,
        #menu-header-menu,
        #menu-header-menu > ul {

            & > li.menu-item {
                
                a:link,
                a:visited {
                    color: white !important;
                }
            }
        }
    }

    #main-nav {
        // color: white;
        padding: 5px 0;

        .logo-container {

            .logo {
                font-weight: 700;
                margin: 0;
                @include headerTransition();
                color: $color_main;
                @include breakpoint(small only) {
                    font-size: 2em;
                }
            }
        }

        .menu-container {
            text-align: right;

            .main-header-menu,
            #menu-header-menu,
            #menu-header-menu > ul {
                display: inline-block;
                list-style-type: none;
                padding: 0;
                margin: 0;

                & > li.menu-item {
                    display: inline-block;
                    padding: 0 20px;
                    line-height: 67px;

                    a:link,
                    a:visited {
                        text-decoration: none;
                        color: $color_main;
                        font-size: 1.2em;
                        @include headerTransition();
                    }
                }
            }

            
        }

    }
}

// Mobile menu buton
#main-header {
    @include breakpoint(small only) {
        box-shadow: 0 0 20px rgba(black, 0.2);
    }
    &.is-top {
        box-shadow: 0 0 20px rgba(black, 0);
        .hamburger-button .bar {
            background-color: white;
        }

        .main-header-menu,
        #menu-header-menu,
        #menu-header-menu > ul {

            & > li.menu-item {
                
                a:link,
                a:visited {
                    @include breakpoint(small only) {
                        color: $color_main !important;
                    }
                }
            }
        }
    }
    &.is-top.menu-opened,
    &.menu-opened {
        background-color: white;

        .logo {
            color: $color_main !important;
        }

        .hamburger-button .bar {
            background-color: $color_main !important;
        }
    }

    .hamburger-button {
        background: none;
        border: 0;
        height: 36px;
        width: 36px;
        padding: 0;
        margin-top: 4.4px;
        line-height: 44.8px;
        outline: none;
        transform: scale(0.8);

        .bar {
            height: 7px;
            background-color: $color_main;
            width: 100%;
            margin: 0 auto 7px;
            border-radius: 3.5px;
            &:last-of-type {
                margin-bottom: 0;
            }
        }
    }

    // menu container small version
    #main-nav {
        .menu-container {
            @include breakpoint(small only) {
                display: block;
                position: absolute;
                bottom: 100%;
                left: 0;
                z-index: -50;
                background: white;
        
                .main-header-menu,
                #menu-header-menu,
                #menu-header-menu > ul {
                    padding: 20px 0 66px;
                    display: block;
                    width: 100%;
        
                    > li.menu-item {
                        display: block;
                        text-align: center;
        
                        a:link,
                        a:visited {
                            font-size: 1.8em;
                        }
                    }
                }
            }
        }
    } 
}

.menu-opened-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: black;
    opacity: 0.5;
    visibility: visible;
    z-index: 900;
    transition: all 0.4s ease;
    &.menu-closed {
        opacity: 0;
        visibility: hidden;
    }
}

body.menu-opened {
    overflow: hidden;
}