
.wrapper {
	width: 100%;
	max-width: 972px;
	margin: 0 auto;
	padding: 0 10px;
}
.wrapper-medium {
	width: 100%;
	max-width: 1185px;
	margin: 0 auto;
	padding: 0 10px;
}
.wrapper-big {
	width: 100%;
	max-width: 1420px;
	margin: 0 auto;
	padding: 0 10px;
}
.wrapper.no-pad,
.wrapper-medium.no-pad,
.wrapper-big.no-pad {
	padding: 0 !important;
}
.relative-wrapper {
	position: relative;
}